<div id="main" role="main">
    <%= render :partial =>
    "layouts/ribbon", :locals => {:papa => "Edit", :son => "Hobbies & Lifestyle"} %>
    <!-- MAIN CONTENT -->
    <div id="content">
        <div class="alert alert-block alert-info">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">What to Do!</h4>
            <p>
                Please enter your <strong>Contact Details</strong>
                .
                You can enter same numbers for all fields. Your contact numbers will only be shown to users once you accept their interest. Otherwise are kept private..
            </p>
        </div>

        <!-- widget grid -->
        <section id="widget-grid" class="">

            <!-- row -->
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12 col-lg-6">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i>
                            </span>
                            <h2>Edit Hobbies</h2>

                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget content -->
                            <div class="widget-body">
                                <%= form_tag({:action=>
                                'modify_hobby'},{:remote => true, :class=>"smart-form"}) do %>
                                <header>What you like to do</header>

                                <fieldset>
                                    <% categories = ["hobby", "music", "interest", "read", "dress", "tv", "movie", "sport", "cuisine", "vacation"] %>
                                    <% categories.each do |category| %>
                                    <% heading = category.sub "_", " " %>
                                    <% id = category.sub "_", "-" %>
                                        <label>
                                            <%= heading.capitalize %></label>
                                        <input type="text" id="select-<%= id %>" name="<%= category %>" class="selectized" value="<%= @user[:hobby][category] %>">
                                    <% end %>
                                </fieldset>
                                <footer>
                                    <div class="note note-success clicksave"></div>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button type="button" class="btn btn-default" onclick="window.history.back();">Back</button>
                                </footer>
                                <% end %></div>
                            <!-- end widget content --> </div>
                        <!-- end widget div --> </div>


<div class="jarviswidget" id="wid-id-2" data-widget-fullscreenbutton="true">

                        <header>
                            <span class="widget-icon"> <i class="fa fa-check txt-color-green"></i>
                            </span>
                            <h2>Edit Mode</h2>

                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box --> </div>
                            <!-- end widget edit box -->

                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <!-- Success states for elements -->
                                <!-- <form class="smart-form">
                                -->
                                <%= form_tag({:action=>'modify_lifestyle'}, {:remote => true, :class=>"smart-form"}) do %>
                                <header>Life</header>

                                <fieldset>
                                    <section>
                                        <label class="label">Diet</label>
                                        <div class="row">
                                            <% [ 'Veg', 'Non-Veg', "Eggeterian", "Occasional" ].each do |diet| %>
                                            <div class="col col-4">
                                            <label class="radio state-success">
                                            <%= radio_button_tag(:diet, diet,(@user[:lifestyle][:diet] == diet)) %>
                                            <i></i>
                                            <%= diet %>
                                            </label>
                                            </div>
                                        <% end %>
                                        </div>

                                    <br>

                                    <label class="label">Smoke</label>
                                        <div class="row">
                                            <% [ 'Yes', 'No' ].each do |smoke| %>
                                            <div class="col col-4">
                                            <label class="radio state-success">
                                            <%= radio_button_tag(:smoke, smoke,(@user[:lifestyle][:smoke] == smoke)) %>
                                            <i></i>
                                            <%= smoke %>
                                            </label>
                                            </div>
                                        <% end %>
                                        </div>
                                    <br>
                                    <label class="label">Drink</label>
                                        <div class="row">
                                            <% [ 'Yes', 'No' ].each do |drink| %>
                                            <div class="col col-4">
                                            <label class="radio state-success">
                                            <%= radio_button_tag(:drink, drink,(@user[:lifestyle][:drink] == drink)) %>
                                            <i></i>
                                            <%= drink %>
                                            </label>
                                            </div>
                                        <% end %>
                                        </div>

                                    <br>
                                    <label class="label">Complexion</label>
                                        <div class="row">
                                            <% [ 'Dark', 'White', 'Wheat' ].each do |complexion| %>
                                            <div class="col col-4">
                                            <label class="radio state-success">
                                            <%= radio_button_tag(:complexion, complexion,(@user[:lifestyle][:complexion] == complexion)) %>
                                            <i></i>
                                            <%= complexion %>
                                            </label>
                                            </div>
                                        <% end %>
                                        </div>


                                    <br>
                                    <label class="label">Own House</label>
                                        <div class="row">
                                            <% [ 'Yes', 'No', 'Will Buy' ].each do |own_house| %>
                                            <div class="col col-4">
                                            <label class="radio state-success">
                                            <%= radio_button_tag(:own_house, own_house,(@user[:lifestyle][:own_house] == own_house)) %>
                                            <i></i>
                                            <%= own_house %>
                                            </label>
                                            </div>
                                        <% end %>
                                        </div>
                                    <br>
                                    <label class="label">Own Car</label>
                                        <div class="row">
                                            <% [ 'Yes', 'No', 'Will Buy' ].each do |own_car| %>
                                            <div class="col col-4">
                                            <label class="radio state-success">
                                            <%= radio_button_tag(:own_car, own_car,(@user[:lifestyle][:own_car] == own_car)) %>
                                            <i></i>
                                            <%= own_car %>
                                            </label>
                                            </div>
                                        <% end %>
                                        </div>

                                        <br>
                                    <label class="label">Own Pet</label>
                                        <div class="row">
                                            <% [ 'Yes', 'No', 'Will Buy' ].each do |own_pet| %>
                                            <div class="col col-4">
                                            <label class="radio state-success">
                                            <%= radio_button_tag(:own_pet, own_pet,(@user[:lifestyle][:own_pet] == own_pet)) %>
                                            <i></i>
                                            <%= own_pet %>
                                            </label>
                                            </div>
                                        <% end %>
                                        </div>


                                    </section>

                                    <h4>Body Structure</h4>
                                    <legend></legend>
                                   <% categories = ["blood", "weight", "height", "residence"] %>
                                    <% categories.each do |category| %>
                                    <% heading = category.sub "_", " " %>
                                    <% id = category.sub "_", "-" %>
                                    <section class="col col-6">
                                        <label>
                                            <%= heading.capitalize %></label>
                                        <input type="text" id="select-<%= id %>" name="<%= category %>" class="selectized" value="<%= @user[:lifestyle][category] %>">
                                    </section>
                                    <% end %>


                                </fieldset>

                                <footer>
                                    <div class="note note-success autosave"></div>
                                    <button type="submit" class="btn btn-primary hide">Submit</button>
                                    <button type="button" class="btn btn-default" onclick="window.history.back();">Back</button>
                                </footer>
                                <!-- </form>
                                -->
                                <% end %>
                                <!--/ Success states for elements --> </div>
                            <!-- end widget content --> </div>
                        <!-- end widget div --> </div>


                    <!-- end widget --> </article>
            </section>
        </div>

    </div>
</div>