<%= include_gon %>
<div id="main" role="main">
  <%= render :partial =>
  "layouts/ribbon", :locals => {:papa => "Home", :son => "Dashboard"} %>
  <!-- MAIN CONTENT -->
  <div id="content">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
          <i class="fa fa-dashboard fa-fw "></i>
          My Dashboard
        </h1>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <%= link_to edit_profile_path(:id =>current_user.profile.id), :class=>"btn btn-default pull-right" do %>
          <i class="fa fa-edit"></i>
          Edit My Profile
        <% end %>
        <%= link_to root_path, :class=>"btn btn-primary pull-right" do %>
          <i class="fa fa-copy"></i>
          Explore
        <% end %>
        <%= render :partial =>'layouts/sparks', :locals => {:user => @user}%>
      </div>
    </div>
    <!-- row -->
    <legend></legend>
    <div class="row">
      <div class="col-sm-12">
        <div class="text-muted">
          <strong class="txt-color-green">Pro Tip !
          </strong>
          <small>Showing the List of Profiles who have sent you interests. You can
            <strong>filter</strong>
            the results by
            <strong>typing into the search bar</strong>.
            <strong>For Example</strong>
            Delhi will filter out results with profiles from Delhi. Or you can type in, 21 years, which would filter the age.</small>
          <small class="txt-muted"><strong class="txt-color-red">Note that</strong>
            once you accept an interest, the user gets notified and will be able to email to you for further correspondence.</small>
          <legend></legend>
        </div>
        <%= render :partial =>'layouts/dashboard/searchdata.html.erb', :locals => {:title => "Profile Visitors", :id=>"in-visitors",:css_id=>"search-in-visitors"} %>
        <legend></legend>
        <%= render :partial =>'layouts/dashboard/searchdata.html.erb', :locals => {:title => "Incoming Interests", :id=>"in-interests", :css_id=>"search-in-interests"} %>
        <legend></legend>
        <%= render :partial =>'layouts/dashboard/searchdata.html.erb', :locals => {:title => "Received Responses", :id=>"out-interests", :css_id=>"search-out-interests"} %>
        <legend></legend>
        <%= render :partial =>'layouts/dashboard/searchdata.html.erb', :locals => {:title => "Shortlist", :id=>"shortlist", :css_id=>"search-shortlist"} %>
      </div>
      <!-- end row -->
    </div>
  </div>
</div>
  <%= render :partial =>'layouts/footer'%>