<div id="main" role="main">
  <%= render :partial =>
  "layouts/ribbon", :locals => {:papa => "Home", :son => "Explore"} %>
  <!-- MAIN CONTENT -->
  <div id="content">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"> <i class="fa fa-desktop fa-fw "></i>
          UI Elements
          <span>
            >
      JQuery UI
          </span>
        </h1>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <ul id="sparks" class="">
          <li class="sparks-info">
            <h5>
             My Income
            <span class="txt-color-blue">$47,171</span>
            </h5>
            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
              1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
            </div>
          </li>
          <li class="sparks-info">
            <h5>
              Site Traffic
              <span class="txt-color-purple"> <i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>
                &nbsp;45%
              </span>
            </h5>
            <div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">110,150,300,130,400,240,220,310,220,300, 270, 210</div>
          </li>
          <li class="sparks-info">
            <h5>
              Site Orders
              <span class="txt-color-greenDark">
                <i class="fa fa-shopping-cart"></i>
                &nbsp;2447
              </span>
            </h5>
            <div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">110,150,300,130,400,240,220,310,220,300, 270, 210</div>
          </li>
        </ul>
      </div>

    </div>

    <!-- row -->
<div class="row">

  <div class="col-sm-6 col-md-6 col-lg-12">


    <div class="well well-sm well-light">
      <h3>Jquery Tabs
      <br>
      <small>Simple Tabs</small></h3>

      <div id="tabs">
        <ul>
          <li>
            <a href="#tabs-a">My Profile Visitors</a>
          </li>
          <li>
            <a href="#tabs-b">Responses</a>
          </li>
          <li>
            <a href="#tabs-c">Incoming Interests</a>
          </li>
          <li>
            <a href="#tabs-d">Recently Viewed</a>
          </li>
        </ul>
        <div id="tabs-a">
          <%= @visitors[:in].inspect %>
        </div>
        <div id="tabs-b">
          <% @interests[:responses].each do |interest| %>
            <% if interest.response == nil %>
              Waiting
            <% elsif interest.response == 1 %>
              Accepted
            <% else %>
              Rejected
          <% end %>
            <%= interest.inspect %>
              <hr>
          <% end %>
        </div>
        <div id="tabs-c">
          <% @interests[:in].each do |interest| %>
            <%=  interest.inspect %>
            <%= form_tag :action=>'interest_response' do %>
          <% if interest.response.nil? %>
          <%= hidden_field_tag 'from_user_id', interest.user_id %>
            <%= submit_tag("Accept") %>
          <%= submit_tag("Reject") %>
          <% end %>
          <% end %>
          <% end %>
        </div>
        <div id="tabs-d">
          <%= @visitors[:out].inspect %>
        </div>
      </div>


  </div>
  <!-- END MAIN CONTENT -->
</div>