<div id="main" role="main">
  <%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Chat"} %>

  <div id="content">
  <div class="row">
  
      <!-- col -->
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
          <!-- PAGE HEADER -->
          <i class="fa-fw fa fa-comments"></i>
          Conversations
        </h1>
      </div>
    </div>

<% if @spoken_with.length == 0 %>
  <strong>You currently have no messages</strong>
<% end %>
<table id="inbox-table" class="table table-striped table-hover">
  <tbody>

    <% @spoken_with.each do |user_id| %>
    <% user = make_user_tiny(user_id) %>
    <% latest_snippet = get_latest_message_snippet(user_id, current_user.id) %>

    <tr class="unread" data-id="<%= user[:id] %>">
      <td class="inbox-table-icon">
        <div class="checkbox">
          <%= image_tag user[:avatar].url(:thumb), :style=>"width:25px;height:25px;" %>
        </div>
      </td>
      <td class="inbox-data-from hidden-xs hidden-sm">
        <div>
          <%= user[:name] %>
        </div>
      </td>
      <td class="inbox-data-message">
        <div>
          <span><%= time_ago_in_words(latest_snippet.created_at) %> ago</span> <%= truncate(latest_snippet.message, :length => 30) %>
        </div>
      </td>
      <td class="inbox-data-date hidden-xs">
        <div>
        <%= render :partial =>'layouts/online', :locals => {:time => user[:updated_at]} %>
        </div>
      </td>
    </tr>
    <% end %>

  </tbody>
</table>

  </div>
  <%= will_paginate @spoken_with, :class =>"flickr_pagination"%>
</div>



<script type="text/javascript">
  $("tr").live("click", function(e) {
    location.href = "/messages/"+$(this).data('id')
    e.stopPropagation();
});
</script>