<% user = make_user_tiny(params[:id]) %>
<span class="hidden" id="is-on-chat" data-userid="<%= params[:id] %>" data-img="<%= user[:avatar].url(:tiny) %>" data-username="<%= user[:name] %>"></span>
<div id="main" role="main">
  <%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Chatting with #{user[:name]}"} %>
  <div id="content">
    <div class="row">
      <div class="col-md-6 well">
      <h1>Messages</h1>
        <table id="inbox-table" class="table table-striped table-hover">
  <tbody>
    <% @spoken_with.each do |user_id| %>
    <% __user = make_user_tiny(user_id) %>
    <% latest_snippet = get_latest_message_snippet(user_id, current_user.id) %>

    <tr class="unread" data-id="<%= __user[:id] %>">
      <td class="inbox-table-icon">
          <%= image_tag __user[:avatar].url(:thumb), :style=>"width:30px;height:30px;", :class=>"img-rounded" %>
      </td>
      <td class="inbox-data-from hidden-xs hidden-sm">
        <div>
          <%= __user[:name] %>
        </div>
      </td>
      <td class="inbox-data-message">
        <div>
          <span class="font-xs"><%= time_ago_in_words(latest_snippet.created_at) %> ago</span> <%= truncate(latest_snippet.message, :length => 10) %>
        </div>
      </td>
      <td class="inbox-data-date hidden-xs">
        <div>
        <%= render :partial =>'layouts/online', :locals => {:time => __user[:updated_at]} %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= will_paginate @spoken_with, :class =>"flickr_pagination"%>
      </div>

      <div class="col-md-6">
        <div class="collapse navbar-collapse navbar-inverse">
          <ul class="nav navbar-nav">
            <li class="active">
              <%= link_to profile_path(:id => user[:profile][:id]) do %>
                Live Chat with
                <%= user[:name] %>
              <% end %>
            </li>
              
          </ul>
        </div>
        <div id="chat-body" class="chat-body custom-scroll" style="height:400px;">
          <ul id="chat-list">
            <% @messages.each do |message| %>
              <% if message.user_id == current_user.id %>
                <!-- YOU -->
                <li class="message">
                  <%= image_tag current_user.avatar.url(:tiny), :style=>"width:35px;height:35px;", :class=> "img-circle"%>
                  <span class="message-text">
                    <time>
                      <%= time_ago_in_words(message.created_at) %>
                      ago
                    </time>
                    <a href="javascript:void(0)" class="username">You</a>
                    <%= message.message %>
                  </span>
                </li>
              <% else %>
                <!-- Her -->
                <li class="message">
                  <%= link_to profile_path(:id => user[:profile][:id]) do %>
                    <%= image_tag user[:avatar].url(:tiny), :style=>"width:35px;height:35px;", :class=> "img-circle"%>
                  <% end %>
                  <span class="message-text">
                    <time>
                      <%= time_ago_in_words(message.created_at) %>
                      ago
                    </time>
                    <%= link_to profile_path(:id => user[:profile][:id]),:class=>"username" do %>
                      <%= user[:name] %>
                    <% end %>
                    <%= message.message %>
                  </span>
                </li>
              <% end %>
              <hr>
            <% end %>
          </ul>
        </div>

        <% can_send_message = true %>
        <% if !user[:out_response].nil? %>
          <% if user[:out_response].response == 0 %>
          <% can_send_message = false %>
          <% end %>
        <% end %>

        <% if !user[:in_response].nil? %>
          <% if user[:in_response].response == 0 %>
            <% can_send_message = false %>
          <% elsif user[:in_response].response == 1 %>
          <% can_send_message = true %>
        <% end %>
        <% end %>

        <% if can_send_message %>
        <%= form_tag({:action=>'send_message'}, {:remote => true, :class=>"well padding-bottom-10 message_form"}) do %>
          <input name="message" type="input" class="form-control message_textarea" placeholder="" required>
          <input type="hidden" value="<%= user[:id] %>" name="to_user_id">
          <div class="">
            <br>
            <button type="submit" class="btn btn-sm btn-primary pull-right disabled message_button" data-img="<%= user[:avatar].url(:tiny) %>">
              Send
            </button>
            <i class="fa fa-comments"></i> <small>press enter to send message...</small>
          </div>
        <% end %>

        <% else %>
        <div class="well padding-bottom-10">
          <%= render :partial =>'layouts/interesttext', :locals => {:user => user}%>
        </div>
        <% end %>
        <div class="well">
          <%= render :partial =>'layouts/interestbutton', :locals => {:user => user} %>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
  $("tr").live("click", function(e) {
    location.href = "/messages/"+$(this).data('id')
    e.stopPropagation();
  });
  $("#chat-body").scrollTop($("#chat-list").height());
  
  
});

</script>