<div id="portfolio_tem">
  <div class="container">
    <div class="section_header">
      <h2>Edit Profile</h2>
    </div>
    <%= render :partial => 'layouts/profile/edit/form_image'%>
    <%= render :partial => 'layouts/profile/edit/form_info'%>
    <%= form_tag({:action=>'modify_profile'}, { :multipart => true, :remote => true }) do %>
      <%= file_field_tag(:avatar) %>
      <input type="hidden" name="one" value="xx" placeholder="">
      <input type="hidden" name="two" value="nn" placeholder="">
      <%= submit_tag "Save", class: 'btn btn-success pull-right' %>
    <% end %>
  </div>
</div>
<div id="features" class="features_page">
  <div class="container">
    <!-- Feature Wrapper -->
    <div class="feature_wrapper option3">
      <div class="section_header">
        <h2>Edit Profile
          <small>(Option 3)</small></h2>
      </div>
      <!-- Profiles Row -->
      <div class="row">
        <%= render :partial => 'layouts/profile/edit/form_profile'%>
        <%= render :partial => 'layouts/profile/edit/form_contact'%>
        <%= render :partial => 'layouts/profile/edit/form_about'%>
        <%= render :partial => 'layouts/profile/edit/form_religion'%>
        <%= render :partial => 'layouts/profile/edit/form_kundali'%>
        <%= render :partial => 'layouts/profile/edit/form_hobby'%>
        <%= render :partial => 'layouts/profile/edit/form_family'%>
        <%= render :partial => 'layouts/profile/edit/form_education'%>
        <%= render :partial => 'layouts/profile/edit/form_lifestyle'%>
        <%= render :partial => 'layouts/profile/edit/form_desire'%>
      </div>
    </div>
  </div>
</div>
