<div id="features" class="features_page">
  <div class="container">
    <!-- Feature Wrapper -->
    <div class="feature_wrapper option3">
      <div class="section_header">
        <h2>Edit Profile
          <small>(Option 3)</small></h2>
      </div>
      <!-- Profiles Row -->
      <div class="row">
      <%= render :partial => 'layouts/profile/edit/form_profile'%>
      <!-- Contact -->
      <%= render :partial => 'layouts/profile/edit/form_contact'%>
      <!-- About Me -->
      <%= render :partial => 'layouts/profile/edit/form_about'%>
      <!-- Religion -->
      <%= render :partial => 'layouts/profile/edit/form_religion'%>
      <!-- Kundali -->
      <%= render :partial => 'layouts/profile/edit/form_kundali'%>
      <!-- Hobbie -->
      <%= render :partial => 'layouts/profile/edit/form_hobby'%>
      </div>
    </div>
  </div>
</div>
