<div id="features" class="features_page">
  <div class="container">
    <!-- Feature Wrapper -->
    <div class="feature_wrapper option3">
      <div class="section_header">
        <h2>Edit Profile
          <small>(Option 3)</small></h2>
      </div>
      <!-- Features Row -->
      <div class="row">
        <!-- Feature -->
        <div class="span6 feature">
          <div class="img">
            <%= image_tag("features-ico6.png") %>
          </div>
          <div class="text">
            <h6>db:profiles</h6>
            <%= form_tag :action=>'modify_profile' do %>
            <legend>Gender</legend>
              <%= radio_button_tag(:sex, "Male") %> Male
              <%= radio_button_tag(:sex, "Female") %> Female

              <legend>Marital Status</legend>
			  <%= radio_button_tag(:marital_status, "Never Married") %> Never Married
              <%= radio_button_tag(:marital_status, "Divorced") %> Divorced
              <legend>Posted By</legend>
			  <%= radio_button_tag(:posted_by, "Self") %> Self
			  <%= radio_button_tag(:posted_by, "Parent")%> Parent
              <%= radio_button_tag(:sex, "Friend") %> Friend
              <%= radio_button_tag(:sex, "Relative") %> Relative

              <br><br>
              <legend>Date of Birth</legend>

              <input type="text" data-behaviour='datepicker' value="02/25/1985" style="width:200px;" required >
              <br>
              <%= submit_tag "Save", class: 'btn btn-success' %>
            <% end %>
          </div>
        </div>
        <!-- Feature -->
        <div class="span6 feature">
          <div class="img">
            <%= image_tag("features-ico5.png") %>
          </div>
          <div class="text">
            <h6>db: Contact</h6>
            <p>
              There are many variations passages generators on the  embarrassing hidden in randomised words which don't look even slightly distracted content here making it look like.
            </p>
          </div>
        </div>
        <!-- Feature -->
        <div class="span12 feature last">
          <div class="img">
            <%= image_tag("features-ico7.png") %>
          </div>
          <div class="text">
            <h6>Develop</h6>
            <p>
              There are many variations passages generators on the  embarrassing hidden in randomised words which don't look even slightly distracted content here making it look like.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- extra -->
<%= form_tag :action=>'modify_profile' do %>
  <%= text_field_tag :sex, nil, class: 'typeahead tt', placeholder:'sex' %>
  <%= submit_tag("Submit") %>
<% end %>
