<div id="main" role="main">
  <%= render :partial =>
  "layouts/ribbon", :locals => {:papa => "Home", :son => "Edit"} %>
  <!-- MAIN CONTENT -->
  <div id="content">
    <!-- Bread crumb is created dynamically -->
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title">
          <!-- PAGE HEADER -->
          <i class="fa-fw fa fa-file"></i>
          Edit Your Profile
        </h1>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <%= link_to profile_path(:id =>current_user.profile.id), :class=>"btn btn-default pull-right" do %>
          <i class="fa fa-eye"></i>
          View profile
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="tabs-left" id="tabs">
          <ul class="nav nav-tabs tabs-left">
            <li class="active">
              <a href="#a1" data-toggle="tab">Avatar</a>
            </li>
            <li>
              <a href="#a5" data-toggle="tab">Images</a>
            </li>
            <li>
              <a href="#a3" data-toggle="tab">Contact</a>
            </li>
            <li>
              <a href="#a13" data-toggle="tab">Basic</a>
            </li>
            <li>
              <a href="#a6" data-toggle="tab">Religion</a>
            </li>
            <li>
              <a href="#a7" id="tab-kundali" data-toggle="tab">Kundali</a>
            </li>
            <li>
              <a href="#a8" data-toggle="tab">Hobby</a>
            </li>
            <li>
              <a href="#a9" id="tab-lifestyle" data-toggle="tab">Lifestyle</a>
            </li>
            <li>
              <a href="#a4" id="tab-desire" data-toggle="tab">Desires</a>
            </li>
            <li>
              <a href="#a10" id="tab-family" data-toggle="tab">Family</a>
            </li>
            <li>
              <a href="#a11" data-toggle="tab">School</a>
            </li>
            <li>
              <a href="#a12" data-toggle="tab">Abouts</a>
            </li>
          </ul>
          <div class="tab-content padding-top-10">
            <div class="tab-pane fade in active" id="a1">
              <%= render :partial =>'layouts/profiles/edit/avatar'%>
            </div>
            <div class="tab-pane fade" id="a13">
              <%= render :partial =>'layouts/profiles/edit/basic'%>
            </div>
            <div class="tab-pane fade" id="a3">
              <%= render :partial =>'layouts/profiles/edit/contact'%>
            </div>
            <div class="tab-pane fade" id="a4">
              <%= render :partial =>'layouts/profiles/edit/desire'%>
            </div>
            <div class="tab-pane fade" id="a5">
              <%= render :partial =>'layouts/profiles/edit/images'%>
            </div>
            <div class="tab-pane fade" id="a6">
              <%= render :partial =>'layouts/profiles/edit/religion'%>
            </div>
            <div class="tab-pane fade" id="a7">
              <%= render :partial =>'layouts/profiles/edit/kundali'%>
            </div>
            <div class="tab-pane fade" id="a8">
              <%= render :partial =>'layouts/profiles/edit/hobby'%>
            </div>
            <div class="tab-pane fade" id="a9">
              <%= render :partial =>'layouts/profiles/edit/lifestyle'%>
            </div>
            <div class="tab-pane fade" id="a10">
              <%= render :partial =>'layouts/profiles/edit/family'%>
            </div>
            <div class="tab-pane fade" id="a11">
              <%= render :partial =>'layouts/profiles/edit/education'%>
            </div>
            <div class="tab-pane fade" id="a12">
              <%= render :partial =>'layouts/profiles/edit/aboutme'%>
            </div>
            <!-- end tab -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
