profiles/edit

	<h6>Current user: <%= current_user.id %></h6>
	<h6>Current Profile Id: <%= current_user.profile.id %></h6>

	<%= @is_owner %>

	<%= @query %>

	<%= form_tag :action=>'modify' do %>
	<%= label_tag(:sex, "Sex:") %>
	<%= text_field_tag(:sex) %>
	<%= submit_tag("Submit") %>
	<% end %>



<%= button_to( "Delete", :action => "remove", :controller => "profiles") %>


<br>
<%= link_to 'Back', profiles_path %>
