<div id="main" role="main">
  <%= render :partial =>
  "layouts/ribbon", :locals => {:papa => "Home", :son => "Edit"} %>
  <!-- MAIN CONTENT -->
  <div id="content">
    <!-- Bread crumb is created dynamically -->
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
          <!-- PAGE HEADER -->
          <i class="fa-fw fa fa-file-o"></i>
          Editing Profile
        </h1>
      </div>
      <!-- end col -->
      <!-- right side of the page with the sparkline graphs -->
      <!-- col -->
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <!-- sparks -->
        <ul id="sparks">
          <li class="sparks-info">
            <h5>
              My Income
              <span class="txt-color-blue">$47,171</span>
            </h5>
            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
              1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
            </div>
          </li>
          <li class="sparks-info">
            <h5>
              Site Traffic
              <span class="txt-color-purple">
                <i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>
                &nbsp;45%
              </span>
            </h5>
            <div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">110,150,300,130,400,240,220,310,220,300, 270, 210</div>
          </li>
          <li class="sparks-info">
            <h5>
              Site Orders
              <span class="txt-color-greenDark">
                <i class="fa fa-shopping-cart"></i>
                &nbsp;2447
              </span>
            </h5>
            <div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">110,150,300,130,400,240,220,310,220,300, 270, 210</div>
          </li>
        </ul>
        <!-- end sparks -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="col-sm-12">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="well well-light well-sm no-margin no-padding">
              <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-3 profile-pic">
                      <%= image_tag current_user.avatar.url(:thumb)%>
                      <div class="padding-10">
                        <h4 class="font-md">
                          <strong>1,543</strong>
                          <br>
                          <small>Followers</small>
                        </h4>
                        <br>
                        <h4 class="font-md">
                          <strong>419</strong>
                          <br>
                          <small>Connections</small>
                        </h4>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <h1>
                        John
                        <span class="semi-bold">Doe</span>
                        <br>
                        <small>CEO, SmartAdmin</small>
                      </h1>
                      <ul class="list-unstyled">
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-phone"></i>
                            &nbsp;&nbsp;(
                            <span class="txt-color-darken">313</span>
                            )
                            <span class="txt-color-darken">464</span>
                            -
                            <span class="txt-color-darken">6473</span>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-envelope"></i>
                            &nbsp;&nbsp;
                            <a href="mailto:simmons@smartadmin">ceo@smartadmin.com</a>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-skype"></i>
                            &nbsp;&nbsp;
                            <span class="txt-color-darken">john12</span>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-calendar"></i>
                            &nbsp;&nbsp;
                            <span class="txt-color-darken">
                              Free after
                              <a href="javascript:void(0);" rel="tooltip" title="" data-placement="top" data-original-title="Create an Appointment">4:30 PM</a>
                            </span>
                          </p>
                        </li>
                      </ul>
                      <br>
                      <p class="font-md">
                        <i>A little about me...</i>
                      </p>
                      <br></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <hr>
                  <div class="padding-10">
                    <ul class="nav nav-tabs tabs-pull-left">
                      <li class="active">
                        <a href="#a1" data-toggle="tab">Images</a>
                      </li>
                      <li>
                        <a href="#a2" data-toggle="tab">Basic Info</a>
                      </li>
                      <li>
                        <a href="#a3" data-toggle="tab">Contact</a>
                      </li>
                      <li>
                        <a href="#a4" data-toggle="tab">Desires</a>
                      </li>
                      <li>
                        <a href="#a5" data-toggle="tab">Images</a>
                      </li>
                      <li>
                        <a href="#a6" data-toggle="tab">Religion</a>
                      </li>
                      <li>
                        <a href="#a7" data-toggle="tab">Kundali</a>
                      </li>
                      <li>
                        <a href="#a8" data-toggle="tab">Hobby</a>
                      </li>
                      <li>
                        <a href="#a9" data-toggle="tab">Lifestyle</a>
                      </li>
                    </ul>
                    <div class="tab-content padding-top-10">
                      <div class="tab-pane fade in active" id="a1">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                          <%= render :partial =>'layouts/profiles/edit/avatar'%>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="a2">
                        <%= render :partial =>'layouts/profiles/edit/basic'%>
                      </div>
                      <div class="tab-pane fade" id="a3">
                        <%= render :partial =>'layouts/profiles/edit/contact'%>
                      </div>
                      <div class="tab-pane fade" id="a4">
                        <%= render :partial =>'layouts/profiles/edit/desire'%>
                      </div>
                      <div class="tab-pane fade" id="a5">
                        <%= render :partial =>'layouts/profiles/edit/images'%>
                      </div>
                      <div class="tab-pane fade" id="a6">
                        <%= render :partial =>'layouts/profiles/edit/religion'%>
                      </div>
                      <div class="tab-pane fade" id="a7">
                        <%= render :partial =>'layouts/profiles/edit/kundali'%>
                      </div>
                      <div class="tab-pane fade" id="a8">
                        <%= render :partial =>'layouts/profiles/edit/hobby'%>
                      </div>
                      <div class="tab-pane fade" id="a9">
                        <%= render :partial =>'layouts/profiles/edit/lifestyle'%>
                      </div>
                      <!-- end tab -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- end row -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- END MAIN CONTENT -->
</div>
