<% __user = make_user(@user) %>
<div id="main" role="main">
  <!-- MAIN CONTENT -->
  <div id="content">
    <!-- end row -->
    <div class="row">
      <div class="col-sm-8">
        <div class="well well-white">
          <div class="well radius well-sm">
            <div class="row">
              <div class="col-sm-6">
                <%= render :partial =>'layouts/avatar', :locals => {:user => __user}%>
                <legend></legend>
                <%= render :partial =>'layouts/profiles/show/images', :locals => {:user => __user} %>
              </div>
              <div class="col-sm-6">
                <%= render :partial =>'layouts/cardinfo', :locals => {:user => __user}%>
                <%= render :partial =>'layouts/interestact', :locals => {:user => __user}%>
                <%= render :partial =>'layouts/interesttext', :locals => {:user => __user}%>
                <%= render :partial =>'layouts/contactinfo', :locals => {:user => __user}%>
              </div>
            </div>
          </div>
          <div class="row">
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
              <h3>About
                <% if  current_user.profile.id == __user[:profile][:id] %>
                  <button class="btn btn-xs btn-thin hidden-xs" data-toggle="modal" data-target="#modal-edit-about">
                    Edit about yourself
                  </button>
                <% end %>
              </h3>
                <%= raw __user[:about][:me] %>
            </article>

            <% [:religion, :kundali, :education, :occupation, :family, :hobby,:lifestyle, :desire].each do |category| %>
              <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <%= render :partial =>'layouts/profiles/show/generic',  :locals => {:user => __user, :key => category}%>
              </section>
            <% end %>
          </div>
        </div>
      </div>
      <%= render :partial => 'layouts/profiles/similar', :locals => {:user => __user} %>
    </div>
    <!-- end row -->
  </div>
  <!-- END MAIN CONTENT -->
</div>
<!-- Modals -->
<% if  current_user.profile.id == __user[:profile][:id] %>
  <%= render :partial => 'layouts/profiles/edit/modaledit', :locals => {:id => "modal-edit-about", :tpl => "aboutme"} %>
  <%= render :partial => 'layouts/profiles/edit/modaledit', :locals => {:id => "modal-edit-images", :tpl => "images"} %>
  <%= render :partial => 'layouts/profiles/edit/modaledit', :locals => {:id => "modal-edit-religion", :tpl => "religion"} %>
  <%= render :partial => 'layouts/profiles/edit/modaledit', :locals => {:id => "modal-edit-kundali", :tpl => "kundali"} %>
  <%= render :partial => 'layouts/profiles/edit/modaledit', :locals => {:id => "modal-edit-education", :tpl => "education"} %>
  <%= render :partial => 'layouts/profiles/edit/modaledit', :locals => {:id => "modal-edit-occupation", :tpl => "occupation"} %>
  <%= render :partial => 'layouts/profiles/edit/modaledit', :locals => {:id => "modal-edit-family", :tpl => "family"} %>
  <%= render :partial => 'layouts/profiles/edit/modaledit', :locals => {:id => "modal-edit-hobby", :tpl => "hobby"} %>
  <%= render :partial => 'layouts/profiles/edit/modaledit', :locals => {:id => "modal-edit-lifestyle", :tpl => "lifestyle"} %>
  <%= render :partial => 'layouts/profiles/edit/modaledit', :locals => {:id => "modal-edit-desire", :tpl => "desire"} %>
  <%= render :partial => 'layouts/profiles/edit/modaledit', :locals => {:id => "modal-edit-contact", :tpl => "contact"} %>
<% end %>
