<div id="features" class="features_page">
  <div class="container">
    <div class="feature_wrapper option3">
      <div class="row">
        <% paginate.each do |user_id| %>
          <div class="span4 feature" style="background:white;">
            <div class="img">
              <h4>Basic Information</h4>
              <%= link_to "Show this Profile ", profiles[user_id][:profile] %>
              <% if profiles[user_id][:avatar] %>
                <%= image_tag profiles[user_id][:avatar].url(:thumb), :class => "img-rounded" %>
              <% end %>
            </div>
            <div class="text">
              <%=  profiles[user_id][:profile].inspect %>
              <%= form_tag({:action=>'interest'}, {:remote => true}) do %>
                <%= hidden_field_tag 'to_user_id', user_id %>
                <button class="btn btn-success interest" type="submit">Express Interest</button>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= will_paginate paginate, :class =>"flickr_pagination" %>