<div id="login" class="animated fadeInDown">
  <div id="main" role="main">
  <!--   <header id="header">
          <div id="logo-group">
            <span id="logo">
              <a href="/">
                <%#= image_tag("logo.png") %>
              </a>
            </span>
          </div>
    <span id="login-header-space">
      <span class="hidden-mobile">Already Have an Account ?</span>
      <%#= render "devise/shared/links" %>
    </span>
  </header> -->
    <!-- MAIN CONTENT -->
    <div id="content" class="container">
      <div class="row">
        <%= render :partial =>'layouts/signuptext'%>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
          <div class="well no-padding">
            <%= form_for(resource, :as => resource_name, :html => {:class => "smart-form client-form"}, :url => registration_path(resource_name)) do |f| %>
              <header>Sign Up</header>
              <fieldset>
                <section>
                  <%= devise_error_messages! %>
                </section>
                <section>
                  <label class="label">
                    <strong>Name</strong></label>
                    <small>Your name will only appear when you accept someone's interest or send an interest</small>
                  <label class="input">
                    <i class="icon-append fa fa-user"></i>
                    <%= f.text_field :name, :autofocus => true, :placeholder => "Name" %>
                  </label>
                </section>
                <section>
                  <label class="label">Email</label>
                  <label class="input">
                    <i class="icon-append fa fa-user"></i>
                    <%= f.email_field :email, :placeholder => "Email" %>
                  </label>
                </section>
                <section>
                  <label class="label">Password</label>
                  <label class="input">
                    <i class="icon-append fa fa-lock"></i>
                    <%= f.password_field :password, :placeholder => "Password" %>
                  </label>
                </section>
                <section>
                  <label class="label">Password Confirmation</label>
                  <label class="input">
                    <i class="icon-append fa fa-lock"></i>
                    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
                  </label>
                </section>
              </fieldset>
              <fieldset>
                <section>
                  <div class="row">
                    <div class="col col-4">
                      <label class="label">Your Gender</label>
                      <label class="radio"><%= f.radio_button :sex, "Male" %><i></i>Male</label>
                      <label class="radio"><%= f.radio_button :sex, "Female" %><i></i>Female</label>
                    </div>
                  </section>
                  <section>
                    <label class="label">
                    <i class="fa fa-sun-o"></i> Religion
                  </label>
                  <input name="user[devotion]" class="selectized" id="select-devotion" placeholder="Religion">
                  <script type="text/javascript">
                  $("#select-devotion").selectize({
                    maxItems: 1,
                    valueField: "title",
                    labelField: "title",
                    searchField: "title",
                    options: [{title: "Hindu"}, {title: "Muslim"}, {title: "Christian"},{title: "Buddhist"}, {title: "Jain"}, {title: "Parsi"}, {title: "Other"}],
                    create: false,
                    render: {
                      option: function(item, escape) {
                        var desc;
                        desc = item.desc ? item.desc : "";
                        return '<div> <strong>' + item.title + '</strong><br><small>' + desc + '</small></div>';
                      }
                    }
                  });
                </script>
              </section>
            </section>
            <section>
                  <label class="label">Date of Birth</label>
                    <label class="input">
                      <i class="icon-append fa fa-calendar"></i>
                      <input class="form-control" id="dob" type="text" name="user[dob]" value="01/09/1985">
                    </label>
                    <div class="note">
                      <strong>Choose Date of Birth:</strong>
                      From the calender or enter manually dd/mm/yyyy
                    </div>
                    <script type="text/javascript">
                      $("#dob").datepicker({
                        format: 'dd/mm/yyyy',
                        startView: "decade",
                      });
                      $('#dob').on('changeDate', function(ev){
                        $(this).datepicker('hide');
                      });
                    </script>
                  </section>
                  <label class="checkbox">
                    <input type="checkbox" name="terms" id="terms">
                    <i></i>I agree with the
                    <a href="#" data-toggle="modal" data-target="#myModal">
                      Terms and Conditions
                    </a></label>
                </fieldset>
                <footer>
                  We will send you a confirmation link. Please confirm your Email address by logging into your email account. Depending on your email provider please also check your spam folder.
                  <div class="note">
                    Already have an account ?
                    <%= render "devise/shared/links" %>
                  </div>
                  <legend></legend>
                  <button type="submit" class="btn btn-primary">Sign Up</button>
                </footer>
              <% end %>
            </div>
          </div>
          <%= render :partial =>'layouts/signuptext2'%>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial =>'layouts/terms'%>

  <script type="text/javascript">
    $("#main").bgStretcher({
        images: ["../../images/demo/sample-0.jpg",],
        slideShow: true,
        transitionEffect: "fade",
        nextSlideDelay: 10000,
        imageWidth: 1600,
        imageHeight: 1200
      })
    </script>