<div class="row">
  <div class="col-sm-12">
    <h2 class="error-text-3"><strong><%= heading %></strong></h2>
  </div>
  <% paginate.each do |user_id| %>
    <div class="col-sm-6" style="height:350px;">
      <div class="well well-sm" style="height:300px;">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="well well-light well-sm no-margin divhover-light" style="height:280px;">
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-5">
                    <%= render :partial =>'layouts/avatar', :locals => {:user => profiles[user_id], :show_profile_flag => true} %>
                  </div>
                  <div class="col-sm-6">
                    <%= render :partial =>'layouts/cardinfo', :locals => {:user => profiles[user_id]} %>
                    <%= render :partial =>'layouts/interestbutton', :locals => {:user => profiles[user_id]} %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- end row -->
<%= will_paginate paginate, :class =>"flickr_pagination", :param_name => param %>
