<div class="row">
  <div class="col-sm-12">
      <h1>
      <span class="semi-bold">Matching</span>
      Profiles</h1>
    </div>
  <div class="col-sm-12 bg-color-white pin">
    <% paginate.each do |user_id| %>
      <div class="search-results divhover-light">
        <h4>
          <%= link_to profile_path(:id => profiles[user_id][:profile][:id]) do %>
          <strong><%= profiles[user_id][:name] %>, <%= profiles[user_id][:age] %></strong> years old
          <% end %>
          <i class="fa fa-caret-right fa-lg"></i>
          Profile Id: <%= profiles[user_id][:profile][:id] %>
          <%= render :partial =>'layouts/online', :locals => {:time => profiles[user_id][:updated_at]}%>
          <small class="text-muted">Last online <%= profiles[user_id][:updated_at] %> ago</small>
        </h4>
        <% if profiles[user_id][:avatar].url.ends_with?("normal/Male.png") || profiles[user_id][:avatar].url.ends_with?("normal/Female.png") %>
        <% else %>
        <%= image_tag profiles[user_id][:avatar].url(:thumb) %>
        <% end %>
        <div>
          <p class="note">
            <%= render :partial =>'layouts/shortlistbutton', :locals => {:user => profiles[user_id]} %>
          </p>
          <div class="url text-success">
          <i class="fa fa-angle-right"></i>
            <strong><%= number_with_delimiter(profiles[user_id][:visitors].to_i, :delimeter => ',') %></strong><span class="text-muted font-xs">
            views</span>
          </div>
          <p class="description">
            <i class="fa fa-link"></i>
            <%= "Profile is posted by #{profiles[user_id][:profile][:posted_by]}" %>. <%= profiles[user_id][:image].count %> photos in gallery
            <br> 
          </p>
        </div>
        <p class="description">
          <%= raw truncate(profiles[user_id][:about][:me], length:500, escape:false) %>
        </p>
        <%= render :partial =>'layouts/interestbutton', :locals => {:user => profiles[user_id]} %>
        <br>
        <%= link_to profile_path(:id => profiles[user_id][:profile][:id]), :class=> "pull-right" do %>
        Show Full Profile
        <% end %>
      </div>
      <% end %>
    </div>
    <%= will_paginate paginate, :class =>"flickr_pagination", :param_name => param %>
  </div>

