<div class="row">
  <div class="col-sm-12">
    <h2 class="error-text-3"><strong><%= heading %></strong></h2>
  </div>
  <% paginate.each do |user_id| %>
    <div class="col-sm-3">
      <div class="well-sm bg-color-white">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <%= image_tag profiles[user_id][:avatar].url(:thumb), :style=>"width:55px;height55px;", :class=>"img-rounded"%>
          </div>
          <div class="col-sm-8 col-md-4 col-lg-8">
            <i class="fa fa-eye"></i>
            <%= link_to profile_path(:id => profiles[user_id][:profile][:id]) do %>
              <strong class="font-sm txt-color-blue"><%= profiles[user_id][:name] %></strong> <small class="text-muted"></small>
            <% end %>
            <br>
            <label class="label label-success"><%= profiles[user_id][:image].count %></label>
            <small class="text-muted">Images</small>
            <br>
            <strong class="font-sm txt-color-green"><%= profiles[user_id][:age] %></strong> <small class="text-muted">yrs old</small>
          </div>
        </div>
        <%= render :partial =>'layouts/online', :locals => {:time => profiles[user_id][:updated_at]}%>
        <span class="text-muted font-sm pull-right"><%= profiles[user_id][:visitors] %>
          views</span>
      </div>
      <hr>
    </div>
  <% end %>
</div>
<%= will_paginate paginate, :class =>"flickr_pagination", :param_name => param %>
