<body id="login" class="animated fadeInDown">
  <!-- possible classes: minified, no-right-panel, fixed-ribbon, fixed-header, fixed-width-->
  <header id="header">
    <span id="logo"></span>

    <div id="logo-group">
      <span id="logo">
        <%= image_tag("logo.png") %> 
        </span>
      <!-- END AJAX-DROPDOWN -->
    </div>
    <span id="login-header-space">
      <span class="hidden-mobile">Need an account?</span>
      <%= render "devise/shared/links" %>
    </span>
  </header>
  <div id="main" role="main">
    <!-- MAIN CONTENT -->
    <div id="content" class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
          <h1 class="txt-color-red login-header-big">SmartAdmin</h1>
          <div class="hero">
            <div class="pull-left login-desc-box-l">
              <h4 class="paragraph-header">
                It's Okay to be Smart. Experience the simplicity of SmartAdmin, everywhere you go!
              </h4>
              <div class="login-app-icons">
                <a href="javascript:void(0);" class="btn btn-danger btn-sm">Frontend Template</a>
                <a href="javascript:void(0);" class="btn btn-danger btn-sm">Find out more</a>
              </div>
            </div>
            <img src="../images/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px"></div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
              </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <h5 class="about-heading">Not just your average template!</h5>
              <p>
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
          <div class="well no-padding">
            <%= form_for(resource, :as => resource_name, :html => {:class => "smart-form client-form"}, :url => session_path(resource_name)) do |f| %>
              <header>Sign In</header>
              <fieldset>
                <section>
                  <%= devise_error_messages! %>
                </section>
                <section>
                  <label class="label">E-mail</label>
                  <label class="input">
                    <i class="icon-append fa fa-user"></i>
                    <%= f.text_field :email, :autofocus => true, :placeholder => "Email" %>
                  </label>
                </section>
                <section>
                  <label class="label">Password</label>
                  <label class="input">
                    <i class="icon-append fa fa-lock"></i>
                    <%= f.password_field :password, :placeholder => "Password" %>
                  </label>
                </section>
                </fieldset>
                <fieldset>
                <section>
                  <label class="checkbox">
                    <%= f.check_box :remember_me, :checked => true %>
                    <i></i>
                    Stay signed in
                  </label>
                  <div class="note">
                    <%= render "devise/shared/links" %>
                  </div>
                </section>
              </fieldset>
              <footer>
                <button type="submit" class="btn btn-primary">Sign in</button>
              </footer>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
