<div id="login" class="animated fadeInDown">
  <div id="main" role="main">
<!--     <header id="header">
      <div id="logo-group">
        <span id="logo">
          <a href="/">
            <%#= image_tag("logo.png") %>
          </a>
        </span>
      </div>
    <span id="login-header-space">
      <span class="hidden-mobile">Need an account?</span>
      <%#= render "devise/shared/links" %>
    </span>
  </header> -->
    <!-- MAIN CONTENT -->
    <div id="content" class="container">
      <div class="row">
        <%= render :partial =>'layouts/signuptext'%>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
          <div class="well no-padding">
            <%= form_for(resource, :as => resource_name, :html => {:class => "smart-form client-form"}, :url => session_path(resource_name)) do |f| %>
              <header>Sign In</header>
              <fieldset>
                <section>
                  <%= devise_error_messages! %>
                </section>
                <section>
                  <label class="label">Username</label>
                  <label class="input">
                    <i class="icon-append fa fa-user"></i>
                    <%= f.text_field :username, :autofocus => true, :placeholder => "Username" %>
                  </label>
                </section>
                <section>
                  <label class="label">Password</label>
                  <label class="input">
                    <i class="icon-append fa fa-lock"></i>
                    <%= f.password_field :password, :placeholder => "Password" %>
                  </label>
                </section>
                </fieldset>
                <fieldset>
                <section>
                  <label class="checkbox">
                    <%= f.check_box :remember_me, :checked => true %>
                    <i></i>
                    Stay signed in
                  </label>
                  <div class="note">
                    <%#= render "devise/shared/links" %>
                    Don't have an account ? <a href="/users/sign_up" class="">Sign Up</a>
                  </div>
                </section>
              </fieldset>
              <footer>
                <button type="submit" class="btn btn-primary">Sign in</button>
              </footer>
            <% end %>
          </div>
        </div>
        <%= render :partial =>'layouts/signuptext2'%>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript">
    $("#main").bgStretcher({
        images: ["../../images/demo/sample-0.jpg"],
        slideShow: true,
        transitionEffect: "fade",
        nextSlideDelay: 10000,
        imageWidth: 1600,
        imageHeight: 1200
      })
    </script>