device/sessions/new.html.erb
<h2>Sign in hey</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>


<div id="sign_in1">
        <div class="container">
            <div class="row">
                <div class="span12 header">
                    <h4>Log in to your account</h4>
                    <p>
                        There are many variations of passages of Lorem alteration in some form  injected humour these randomised words .</p>
                </div>

                <div class="span3 division">
                    <div class="line l"></div>
                    <span>↓</span>
                    <div class="line r"></div>
                </div>

                <div class="span12 footer">
                    <form />
                        <input type="text" placeholder="Email" />
                        <input type="password" placeholder="Password" />
                        <input type="submit" placeholder="Confirm Password" value="sign in" />
                    </form>
                </div>

                <div class="span12 proof">
                    <div class="span5 remember">
                        <label class="checkbox">
                            <input type="checkbox" /> Remember me
                        </label>
                        <a href="reset.html">Forgot password?</a>
                    </div>

                    <div class="span3 dosnt">
                        <span>Don’t have an account?</span>
                        <a href="sign-up.html">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


<%= render "devise/shared/links" %>
