<div id="login" class="animated fadeInDown">
  <!-- possible classes: minified, no-right-panel, fixed-ribbon, fixed-header, fixed-width-->
  <div id="main" role="main">
    <header id="header">
    <span id="login-header-space">
      <span class="hidden-mobile">Need an account?</span>
      <%= render "devise/shared/links" %>
    </span>
  </header>
    <!-- MAIN CONTENT -->
    <div id="content" class="container">
      <div class="row">
        <%= render :partial =>'layouts/signuptext'%>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
          <div class="well no-padding">
            <%= form_for(resource, :as => resource_name, :html => {:class => "smart-form client-form"}, :url => session_path(resource_name)) do |f| %>
              <header>Sign In</header>
              <fieldset>
                <section>
                  <%= devise_error_messages! %>
                </section>
                <section>
                  <label class="label">E-mail</label>
                  <label class="input">
                    <i class="icon-append fa fa-user"></i>
                    <%= f.text_field :email, :autofocus => true, :placeholder => "Email" %>
                  </label>
                </section>
                <section>
                  <label class="label">Password</label>
                  <label class="input">
                    <i class="icon-append fa fa-lock"></i>
                    <%= f.password_field :password, :placeholder => "Password" %>
                  </label>
                </section>
                </fieldset>
                <fieldset>
                <section>
                  <label class="checkbox">
                    <%= f.check_box :remember_me, :checked => true %>
                    <i></i>
                    Stay signed in
                  </label>
                  <div class="note">
                    <%= render "devise/shared/links" %>
                  </div>
                </section>
              </fieldset>
              <footer>
                <button type="submit" class="btn btn-primary">Sign in</button>
              </footer>
            <% end %>
          </div>
        </div>
      </div>
      <%= render :partial =>'layouts/signuptext2'%>
    </div>
  </div>
</div>
  <script type="text/javascript">
    $("#main").bgStretcher({
        images: ["../../images/demo/sample-1.jpg","../../images/demo/sample-2.jpg","../../images/demo/sample-3.jpg","../../images/demo/sample-4.jpg","../../images/demo/sample-5.jpg","../../images/demo/sample-6.jpg",],
        slideShow: true,
        transitionEffect: "fade",
        nextSlideDelay: 10000,
        imageWidth: 1600,
        imageHeight: 1200
      })
    </script>