<div class="span6 feature">
  <div class="img">
    <%= image_tag("features-ico6.png") %>
  </div>
  <div class="text">
    <h6>db:desires</h6>
    <div class="form">
      <%= form_tag({:action=>'modify_desire'}, {:remote => true, "parsley-validate" => ""}) do %>
        <legend>Gender</legend>
        <input id="select-desired-height" name="desired_height" value="A+" class="selectized"/>
        <select id="select-desired-age" name="desired_age" value="A+" class="selectized"/>
        <legend>Marital Status</legend>
        <% [ 'Never Married', 'Divorced' ].each do |desired_marital_status| %>
          <%= radio_button_tag(:desired_marital_status, desired_marital_status) %>
          <%= desired_marital_status %>
        <% end %>
        <select id="select-desired-country" name="desired_country" value="A+" class="selectized"/>
        <select id="select-desired-city" name="desired_city" value="A+" class="selectized"/>
        <select id="select-desired-religion" name="desired_religion" value="A+" class="selectized"/>
        <select id="select-desired-caste" name="desired_caste" value="A+" class="selectized"/>
        <select id="select-desired-mother-tongue" name="desired_mother_tongue" value="A+" class="selectized"/>
        <select id="select-desired-education" name="desired_education" value="A+" class="selectized"/>
        <select id="select-desired-occupation" name="desired_occupation" value="A+" class="selectized"/>
        <select id="select-desired-income" name="desired_income" value="A+" class="selectized"/>
        <% [ 'Yes', 'No' ].each do |desired_manglik| %>
          <%= radio_button_tag(:desired_manglik, desired_manglik) %>
          <%= desired_manglik %>
        <% end %>
        <legend>Diet</legend>
        <% [ 'Veg', 'Non Veg' ].each do |desired_diet| %>
          <%= radio_button_tag(:desired_diet, desired_diet) %>
          <%= desired_diet %>
        <% end %>
        <legend>Smoke</legend>
        <% [ 'Yes', 'No' ].each do |desired_smoke| %>
          <%= radio_button_tag(:desired_smoke, desired_smoke) %>
          <%= desired_smoke %>
        <% end %>
        <legend>Drink</legend>
        <% [ 'Yes', 'No', 'Friend', 'Relative' ].each do |desired_drink| %>
          <%= radio_button_tag(:desired_drink, desired_drink) %>
          <%= desired_drink %>
        <% end %>
        <% [ 'Yes', 'No', 'Friend', 'Relative' ].each do |desired_complexion| %>
          <%= radio_button_tag(:desired_complexion, desired_complexion) %>
          <%= desired_complexion %>
        <% end %>
        <% [ 'Yes', 'No', 'Friend', 'Relative' ].each do |desired_challenged| %>
          <%= radio_button_tag(:desired_challenged, desired_challenged) %>
          <%= desired_challenged %>
        <% end %>
        <textarea name="desired_notes" style="height:75px;width:100%;font-weight:bold;" placeholder="Preloaded text" parsley-trigger="keyup" parsley-rangelength="[10,5000]"></textarea>
        <legend></legend>
        <%= submit_tag "Save", class: 'btn btn-success pull-right' %>
      <% end %>
    </div>
  </div>
</div>
