<div id="main" role="main">
  <%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Explore"} %>
  <!-- MAIN CONTENT -->
  <div id="content"class="font-sm">
    <h1>
      <span class="semi-bold"><%= h %></span>
      <%= hsm %>
      <span>
        <% if defined? @solr  %> 
        found <%= number_with_delimiter(@solr.total) %> profiles
        <% end %>
      </span>
      </h1>
        <div id="columns">
      <!-- <div class="col-md-5 col-md-offset-3"> -->
        <% paginate.each do |_user| %>
        <% user = make_user(_user) %>
        <div class="pin">
          <div class="carousel profile-carousel">
            <%= image_tag user[:avatar].url(:original), :class=>"pinimg" %>
          <div class="air air-bottom-right padding-5">
            <%= render :partial =>'layouts/shortlistbutton', :locals => {:user => user} %>
          </div>
          <div class="air air-bottom-left padding-5">
            <%= link_to profile_path(:id => user[:profile][:id]), :class=>"btn btn-primary btn-xs"  do %>
              <small class=""><%= number_with_delimiter(user[:visitors].to_i, :delimeter => ',') %> views</small>
              <i class="fa fa-arrow-right"></i>
              <% end %>
          </div>
          <div class="air air-top-left padding-5">
            <%= render :partial =>'layouts/online', :locals => {:time => user[:updated_at]}%>
          </div>
        </div>
          <!-- All Images tiny -->
          <div class="padding-10">
          <% if user[:image].count > 1 %>
            <% user[:image].each do |image| %>
            <a href="<%= image.avatar.url(:original) %>" data-lightbox="roadtrip">
              <%= image_tag image.avatar.url(:tiny) %>
            </a>
            <% end %>
            <hr>
          <% end %>
          <strong>Last online
            <%= user[:updated_at] %>
            ago</strong>
        <%= render :partial =>'layouts/cardinfo', :locals => {:user => user} %>
          <% if user[:about][:me] %>
            <br>
            <span class="text-muted"><i class="fa fa-file"></i>
              More About
              <%= (user[:sex] == "Female")? "Her": "Him" %>
            </span><i class="fa fa-angle-right"></i>
            <div class="hidden-xs">
              <span><%= raw truncate(user[:about][:me], length:200, escape:false) %></span>
              <br>
            </div>
          <% end %>
          <!-- <br> -->
            <!-- <div class="text-center"> -->
              <!-- <div class="padding-10"> -->
                <%#= render :partial =>'layouts/interestbutton', :locals => {:user => user} %>
              <!-- </div> -->
            <!-- </div> -->
          </div>
        </div>
        <% end %>
      </div>
      <legend></legend>
      <%= will_paginate paginate, :class =>"flickr_pagination"%>
    </div>
  </div>