<div class="span6 feature">
  <div class="img">
    <h4>Write something</h4>
  </div>
  <div class="text">
    <div class="form">
      <%= form_tag({:action=>'modify_about'}, {:remote => true, "parsley-validate" => ""}) do %>
        <% about_me = { me: "About Me", family: "About My Family", work: "About my Work", education: "About my Education", future: "My Future Plans" } %>
        <% about_me.each do |key, value| %>
          <h5><%= value %>
          </h5>
          <textarea name="<%= key%>" style="height:75px;width:90%;font-weight:bold;" placeholder="Write something <%= value %> ..." parsley-trigger="keyup" parsley-maxlength="500"><%= @user[:about][key] %></textarea>
        <% end %>
        <button type="submit" class="btn btn-success pull-right hidden">
          Save
        </button>
      <% end %>
    </div>
  </div>
</div>
