<div class="span6 feature">
  <div class="img">
    <h4>Education</h4>
  </div>
  <div class="text">
    <div class="form">
      <%= form_tag({:action=>'modify_education'}, {:remote => true}) do %>
        <% categories = ["school", "grad_college", "grad", "post_grad", "highest_degree"] %>
        <% categories.each do |category| %>
          <% heading = category.sub "_", " " %>
          <h5>
            <%= heading.capitalize %>
            <small>(pick one)</small></h5>
          <% id = category.sub "_", "-" %>
          <input type="text" id="select-<%= id %>" name="<%= category %>" class="selectized" value="<%= @user[:education][category] %>">
        <% end %>
        <button type="submit" class="btn btn-success pull-right">
          Save
        </button>
      <% end %>
    </div>
  </div>
</div>
