<div class="span6 feature">
  <div class="img">
    <h4>Hobbies</h4>
  </div>
  <div class="text">
    <div class="form">
      <%= form_tag({:action=>'modify_hobby'}, {:remote => true}) do %>
        <% categories = ["hobby", "music", "interest", "read", "dress", "tv", "movie", "sport", "cuisine", "vacation"] %>
        <% categories.each do |category| %>
          <% heading = category.sub "_", " " %>
          <h5>
            <%= heading.capitalize %>
            <small>(pick many)</small></h5>
          <% id = category.sub "_", "-" %>
          <input type="text" id="select-<%= id %>" name="<%= category %>" class="selectized" value="<%= @user[:hobby][category] %>">
        <% end %>
        <button type="submit" class="btn btn-success pull-right">
          Save
        </button>
      <% end %>
    </div>
  </div>
</div>
