<div class="span6 feature">
  <div class="img">
    <h4>Desires</h4>
    <%= image_tag("features-ico6.png") %>
  </div>
  <div class="text">
    <div class="form">
      <%= form_tag({:action=>'modify_desire'}, {:remote => true, "parsley-validate" => ""}) do %>
        <h5>Marital Status</h5>
        <% [ 'Never Married', 'Divorced' ].each do |desired_marital_status| %>
          <%= radio_button_tag(:desired_marital_status, desired_marital_status, (@user[:desire][:desired_marital_status] == desired_marital_status)) %>
          <%= desired_marital_status %>
          <br>
        <% end %>
        <h5>Manglik</h5>
        <% [ 'Yes', 'No' ].each do |desired_manglik| %>
          <%= radio_button_tag(:desired_manglik, desired_manglik, (@user[:desire][:desired_manglik] == desired_manglik)) %>
          <%= desired_manglik %>
          <br>
        <% end %>
        <h5>Diet</h5>
        <% [ 'Veg', 'Non Veg' ].each do |desired_diet| %>
          <%= radio_button_tag(:desired_diet, desired_diet, (@user[:desire][:desired_diet] == desired_diet)) %>
          <%= desired_diet %>
          <br>
        <% end %>
        <h5>Smoke</h5>
        <% [ 'Yes', 'No' ].each do |desired_smoke| %>
          <%= radio_button_tag(:desired_smoke, desired_smoke, (@user[:desire][:desired_smoke] == desired_smoke)) %>
          <%= desired_smoke %>
          <br>
        <% end %>
        <h5>Drink</h5>
        <% [ 'Yes', 'No', 'Friend', 'Relative' ].each do |desired_drink| %>
          <%= radio_button_tag(:desired_drink, desired_drink, (@user[:desire][:desired_drink] == desired_drink)) %>
          <%= desired_drink %>
          <br>
        <% end %>
        <h5>Complexion</h5>
        <% [ 'Yes', 'No', 'Friend', 'Relative' ].each do |desired_complexion| %>
          <%= radio_button_tag(:desired_complexion, desired_complexion, (@user[:desire][:desired_complexion] == desired_complexion)) %>
          <%= desired_complexion %>
          <br>
        <% end %>
        <h5>Challenged</h5>
        <% [ 'Yes', 'No', 'Friend', 'Relative' ].each do |desired_challenged| %>
          <%= radio_button_tag(:desired_challenged, desired_challenged, (@user[:desire][:desired_challenged] == desired_challenged)) %>
          <%= desired_challenged %>
          <br>
        <% end %>
        <% categories = ["desired_age","desired_height", "desired_country", "desired_city", "desired_religion", "desired_caste", "desired_mother_tongue", "desired_education", "desired_occupation", "desired_income"] %>
        <% categories.each do |category| %>
          <% heading = category.gsub "_", " " %>
          <h5>
            <%= heading.capitalize %>
            <small>(pick one)</small></h5>
          <% id = category.gsub "_", "-" %>
          <input type="text" id="select-<%= id %>" name="<%= category %>" class="selectized" value="<%= @user[:desire][category] %>">
        <% end %>
        <h5>Message to Desired Partner</h5>
        <textarea name="desired_notes" style="height:75px;width:100%;font-weight:bold;" placeholder="Preloaded text" parsley-trigger="keyup" parsley-maxlength="500"></textarea>
        <%= submit_tag "Save", class: 'btn btn-success pull-right' %>
      <% end %>
    </div>
  </div>
</div>
