<div class="span6 feature">
  <div class="img">
    <%= image_tag("features-ico5.png") %>
  </div>
  <div class="text">
    <h6>db: Religion</h6>
    <div class="row form">
      <%= form_tag({:action=>'modify_religion'},{:remote => true}) do %>
        <% categories = ["religion", "mother_tongue", "caste", "sub_caste", "native_place"] %>
        <% categories.each do |category| %>
          <h5>
            <% heading = category.sub "_", " " %>
            <%= heading.capitalize %> <small>(pick one)</small></h5>
          <% id = category.sub "_", "-" %>
          <input id="select-<%= id %>" name="<%= category %>" value="<%= @user[:religion][category] %>" class="selectized"></input>
        <% end %>
        <button type="submit" class="btn btn-success pull-right">
          Save
        </button>
      <% end %>
    </div>
  </div>
</div>
