<div class="span6 feature">
  <div class="img">
    <h4>Basic Information</h3>
    <%= image_tag("features-ico7.png") %>
  </div>
  <div class="text">
    <div class="form">
      <%= form_tag({:action=>'modify_profile'}, {:remote => true}) do %>
        <h5>Gender*
          <small>(required)</small></h5>
        <% [ 'Male', 'Female' ].each do |sex| %>
          <%= radio_button_tag(:sex, sex, (@user[:profile][:sex] == sex), :required => true) %>
          <%= sex %>
          <br>
        <% end %>
        <legend></legend>
        <h5>Marital Status</h5>
        <% [ 'Never Married', 'Divorced' ].each do |marital_status| %>
          <%= radio_button_tag(:marital_status, marital_status, (@user[:profile][:marital_status] == marital_status)) %>
          <%= marital_status %>
          <br>
        <% end %>
        <legend></legend>
        <h5>Posted By</h5>
        <% [ 'Self', 'Parents', 'Friend', 'Relative' ].each do |posted_by| %>
          <%= radio_button_tag(:posted_by, posted_by, (@user[:profile][:posted_by] == posted_by)) %>
          <%= posted_by %>
          <br>
        <% end %>
        <button type="submit" class="btn btn-success pull-right">
          Save
        </button>
      <% end %>
    </div>
  </div>
</div>
