<div class="span6 feature">
  <div class="img">
    <h4>Kundali</h4>
  </div>
  <div class="text">
    <div class="form">
      <%= form_tag({:action=>'modify_kundali'}, {:remote => true}) do %>
        <% categories = ["birth_country", "birth_city", "sun_sign", "moon_sign", "nakshatra"] %>
        <% categories.each do |category| %>
          <h5>
            <% heading = category.sub "_", " " %>
            <%= heading.capitalize %>
            <small>(pick one)</small></h5>
          <% id = category.sub "_", "-" %>
          <input id="select-<%= id %>" name="<%= category %>" value="<%= @user[:kundali][category] %>" class="selectized">
        <% end %>
        <h5>Date of Birth</h5>
        <input type="text" name="dob" data-behaviour='datepicker' value="02/25/1985">
        <h5>Time of Birth
          <small>(pick one)</small></h5>
        <input id="select-tob" name="tob" value="Other" class="selectized">
        <button type="submit" class="btn btn-success pull-right">
          Save
        </button>
      <% end %>
    </div>
  </div>
</div>
