<div id="main" role="main">
  <%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Explore"} %>
  <!-- MAIN CONTENT -->
  <div id="content">
    <div class="row">
      <%#= render :partial =>'layouts/search'%>
      <%= link_to explore_path(:id => "search"), :class=>"btn btn-info pull-right" do %>
      <i class="fa fa-search"></i> Search Users
      <% end %>
    </div>
    <legend></legend>
    <div class="row">
      <% @profiles_paginate.each do |user_id| %>
        <div class="col-sm-12">
          <div class="well well-sm">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="well well-light well-sm no-margin no-padding">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="col-sm-3">
                        <%= render :partial =>'layouts/avatar', :locals => {:user => @profiles[user_id], :show_profile_flag => true} %>
                        </div>
                        <div class="col-sm-4 divhover">
                          <%= render :partial =>'layouts/cardinfo', :locals => {:user => @profiles[user_id]} %>
                        </div>
                        <div class="col-sm-5">
                          <h6 class="error-text-3 font-lg">About <strong><%= @profiles[user_id][:name] %></strong></h6>
                          <div class="wordwrap">
                            <%= raw truncate(@profiles[user_id][:about][:me], length:300, escape:false) %>
                          </div>
                          <%= link_to profile_path(:id => @profiles[user_id][:profile][:id]), :class=> "pull-right" do %>
                          more <i class="fa fa-angle-right"></i>
                          <% end %>
                          <%= render :partial =>'layouts/interestbutton', :locals => {:user => @profiles[user_id]} %>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- end row -->
    <%= will_paginate @profiles_paginate, :class =>"flickr_pagination" %></div>
  <!-- END MAIN CONTENT -->
</div>
