<div class="col-sm-6 profile-pic">
  <%= image_tag user[:avatar].url(:thumb)%>
  <%= render :partial =>'layouts/online', :locals => {:time => user[:updated_at]}%>
  <p class="text-muted">
    <%= user[:updated_at] %>
    ago</p>
    <strong><%= pluralize(user[:visitors].to_i, "Profile view") %></strong>
  <div>
    <% if defined? show_profile_flag %>
    <fieldset>
      <%= link_to profile_path(:id =>user[:profile][:id]), :class=> "btn btn-primary btn-xs" do %>
        <i class="fa fa-eye"></i>
        Show Profile
      <% end %>
    </fieldset>
    <% end %>
  </div>
</div>