<div class="col-sm-5 profile-pic">
  <%= image_tag user[:avatar].url(:thumb)%>
  <% if current_user.profile.id == @user[:profile][:id] %>
  <button class="btn btn-primary btn-xs pull-right hidden-xs" data-toggle="modal" data-target="#modal-edit-avatar">
  <i class="fa fa-edit"></i> Change Profile Pic
  </button>
  <% end %>
  <legend></legend>
  <%= render :partial =>'layouts/online', :locals => {:time => user[:updated_at]}%>
  <p class="text-muted font-xs">
    <%= user[:updated_at] %>
    ago</p>
    <strong><%= number_with_delimiter(user[:visitors].to_i, :delimeter => ',') %></strong><span class="text-muted font-xs">
    views</span>
  <div>
    <% if defined? show_profile_flag %>
    <fieldset>
      <%= link_to profile_path(:id =>user[:profile][:id]), :class=> "btn btn-primary btn-xs" do %>
        <i class="fa fa-eye"></i>
        Show Profile
      <% end %>
    </fieldset>
    <% end %>
    <br>
    <%= render :partial =>'layouts/shortlistbutton', :locals => {:user => user}%>
  </div>
</div>
