<ul class="list-unstyled">
  <li>
    <%= link_to profile_path(:id =>user[:profile][:id]) do %>
    <%= user[:age] %> years old, <%= user[:devotion].downcase %> <%= user[:religion][:caste] %>
    <% end %>
  </li>
  <hr>
  <li>
    <p class="">
      <i class="fa fa-file"></i> <%= user[:name] %>
    </p>
  </li>
  <li>
    <p class="">
      <i class="text-muted fa fa-circle"></i> Joined: <%= truncate(user[:created_at], length: 15) %> ago
    </p>
  </li>
  <li>
    <% items = {posted_by: [:profile, 'fa-user'], manglik: [:kundali, "fa fa-circle"], home: [:profile, "fa fa-suitcase"] } %>
      <% items.stringify_keys.each do |key, value| %>
      <p class="">
      <span class="text-muted">
        <i class="text-muted fa <%= value[1] %>"></i> <%= key.gsub('_', ' ').titleize %>:
      </span>

        <% if user[value[0]][key] %>
        <span class="">
         <%= truncate(titleize(user[value[0]][key]), length: 15) %>
       </span>
       <% end %>
    </p>
    <% end %>
  </li>
</ul>