<h1>
  <i class="fa fa-file"></i> Profile of <i class="fa fa-angle-right"></i>
  <span class="semi-bold">
    <%= user[:name] %></span>
  <br>
  <i class="fa fa-calendar"></i>
    <small class="text-muted">
      <span class="semi-bold"><%= user[:age] %></span> Old</small>
</h1>
<ul class="list-unstyled">
  <li>
    <p class="text-muted">
      <i class="fa fa-envelope"></i>
      &nbsp;&nbsp;
      <span>on@acceptance</span>
    </p>
  </li>
  <li>
    <p class="text-muted">
      <i class="fa fa-picture-o"></i>
      &nbsp;&nbsp;
      <strong>Images: </strong>
      <strong class="txt-color-blueDark"><%= user[:image].count %></strong>
    </p>
  </li>
  <li>
    <% items = {marital_status: [:profile, 'fa-heart'], birth_city: [:kundali, 'fa-globe'], caste: [:religion, 'fa-bars'], manglik: [:kundali, 'fa-sun-o'], posted_by: [:profile, 'fa-user']  } %>
    <% items.stringify_keys.each do |key, value| %>
    <p class="text-muted">
      <i class="fa <%= value[1] %>"></i>
      &nbsp;&nbsp;
      <strong>
        <%= key.gsub('_', ' ').titleize %>:
      </strong>
       <strong class="txt-color-blueDark">
         <%= user[value[0]][key] %>
       </strong>
    </p>
    <% end %>
  </li>
</ul>

