<h6>
  <i class="fa fa-file"></i>
  <span class="">
    <%= link_to profile_path(:id => user[:profile][:id]), :class=>""  do %>
    <%= user[:name] %>
    <% end %>
    </span>
  <hr>
  <i class="fa fa-calendar"></i>
      <span class=""><%= user[:age] %> Years Old</span>
<!--   <br> -->
  <i class="fa fa-sun-o"></i>
    <span class="">
      <span class=""><%= user[:devotion] %></span></span>
</h6>
<ul class="list-unstyled">
  <li>
    <% items = {home: [:profile, 'fa-home'],caste: [:religion, 'fa-bars'], posted_by: [:profile, 'fa-user'], height: [:lifestyle, "fa fa-male"], weight: [:lifestyle, "fa fa-female"], smoke: [:lifestyle, "fa fa-times"], drink: [:lifestyle, "fa fa-beer"], complexion: [:lifestyle, "fa fa-smile-o"] } %>
    <% items.stringify_keys.each do |key, value| %>
    <% if user[value[0]][key] %>
    <p>
      <i class="fa <%= value[1] %>"></i>
        <%= key.gsub('_', ' ').titleize %>:
       <strong class="txt-color-blueDark">
       <%= truncate(titleize(user[value[0]][key]), length: 20) %>
       </strong>
    </p>
    <% end %>
    <% end %>
  </li>
</ul>

