<h1>
  Profile of
  <span class="semi-bold">
    <%= user[:name] %></span>
  <br>
    <small>
      <% dob = user[:dob].gsub("/","-") %>
      <%= !dob.empty? ? distance_of_time_in_words(Date::strptime(dob, "%m-%d-%Y"), Time.now) : "" %> Old</small>
</h1>
  <% if defined? show_profile_flag %>
  <b class="badge bg-color-gray bounceIn animated">
      <%= link_to "Show Profile", profile_path(:id =>user[:profile][:id]), :class=> "txt-color-white" %>
    </b>
  <% end %>
<ul class="list-unstyled">
  <li>
    <p class="text-muted">
      <i class="fa fa-envelope"></i>
      &nbsp;&nbsp;
      <a href="#">ON@acceptance</a>
    </p>
  </li>
  <li>
    <% items = {marital_status: [:profile, 'fa-calendar'], birth_city: [:kundali, 'fa-calendar'], caste: [:religion, 'fa-calendar'], manglik: [:kundali, 'fa-calendar'], posted_by: [:profile, 'fa-calendar']  } %>
    <% items.stringify_keys.each do |key, value| %>
    <p class="text-muted">
      <i class="fa <%= value[1] %>"></i>
      &nbsp;&nbsp;
      <span class="txt-color-darken">
      <strong>
        <%= key.gsub('_', ' ').capitalize %>:
      </strong>
       <%= user[value[0]][key] %>
      </span>
    </p>
    <% end %>
  </li>
</ul>
