<h3>
  <i class="fa fa-file"></i>
  <span class="semi-bold">
    <%= user[:name] %></span>
  <br>
  <i class="fa fa-calendar"></i>
    <small class="text-muted">
      <span class="semi-bold"><%= user[:age] %></span> Years Old</small>
  <br>
  <i class="fa fa-sun-o"></i>
    <small class="text-muted">
      <span class="semi-bold"><%= user[:devotion] %></span></small>
</h3>
<ul class="list-unstyled">
  <li>
    <% items = {home: [:profile, 'fa-home'],caste: [:religion, 'fa-bars'], posted_by: [:profile, 'fa-user'], height: [:lifestyle, "fa fa-male"], weight: [:lifestyle, "fa fa-female"], smoke: [:lifestyle, "fa fa-times"], drink: [:lifestyle, "fa fa-beer"], complexion: [:lifestyle, "fa fa-smile-o"] } %>
    <% items.stringify_keys.each do |key, value| %>
    <p>
      <i class="fa <%= value[1] %>"></i>
        <%= key.gsub('_', ' ').titleize %>:
       <strong class="txt-color-blueDark">
       <%= truncate(titleize(user[value[0]][key]), length: 20) %>
       </strong>
    </p>
    <% end %>
  </li>
</ul>

