<h1>
  Profile of
  <span class="semi-bold">
    <%= (@user[:sex] == "Female") ? "her" : "him" %></span>
  <br>
  <% if @user[:kundali][:dob] %>
    <small>
      <% dob = @user[:kundali]['dob'].gsub("/","-") %>
      <%= !dob.empty? ? distance_of_time_in_words(Date::strptime(dob, "%d-%m-%Y"), Time.now) : "" %></small>
  <% end %>
</h1>
<ul class="list-unstyled">
  <li>
    <p class="text-muted">
      <i class="fa fa-phone"></i>
      &nbsp;&nbsp;(
      <span class="txt-color-darken">On</span>
      )
      <span class="txt-color-darken">Acceptance</span>
    </p>
  </li>
  <li>
    <p class="text-muted">
      <i class="fa fa-envelope"></i>
      &nbsp;&nbsp;
      <a href="#">ON@acceptance</a>
    </p>
  </li>
  <li>
    <p class="text-muted">
      <i class="fa fa-calendar"></i>
      &nbsp;&nbsp;
      <span class="txt-color-darken">
        <strong>Status</strong>
        <%= @user[:profile]['marital_status'] %></span>
    </p>
    <p class="text-muted">
      <i class="fa fa-calendar"></i>
      &nbsp;&nbsp;
      <span class="txt-color-darken">
        <strong>I am from</strong>
        <%= @user[:kundali]['birth_city'] %>
        <%= @user[:kundali]['birth_country'] %></span>
    </p>
    <p class="text-muted">
      <i class="fa fa-calendar"></i>
      &nbsp;&nbsp;
      <span class="txt-color-darken">
        <strong>Religion</strong>
        <%= @user[:religion]['religion'] %></span>
    </p>
    <p class="text-muted">
      <i class="fa fa-calendar"></i>
      &nbsp;&nbsp;
      <span class="txt-color-darken">
        <strong>Caste</strong>
        <%= @user[:religion]['caste'] %>
        <%= @user[:religion]['sub_caste'] %></span>
    </p>
    <p class="text-muted">
      <i class="fa fa-calendar"></i>
      &nbsp;&nbsp;
      <span class="txt-color-darken">
        <strong>Manglik</strong>
        <%= @user[:kundali]['manglik'] %>Manglik</span>
    </p>
    <p class="text-muted">
      <i class="fa fa-calendar"></i>
      &nbsp;&nbsp;
      <span class="txt-color-darken">
        <strong>Desired Income</strong>
        <%= @user[:desire]['desired_income'] %></span>
    </p>
    <p></p>
  </li>
</ul>
