<!-- Post -->
<div class="col-md-12 post">
  <div class="img">
    <%= link_to profile_path(:id =>user[:profile][:id]) do %>
    <% if (user[:avatar].size.to_i < 3500 and !user[:provider].nil?) %>
    <%= image_tag("others/#{user[:provider].to_s}.png") %>
    <% else %>
    <%= image_tag user[:avatar].url(:thumb), :class=>"img-rounded",:style=>"width:90%;height:80%;" %>    
    <% end %>
    
    <% end %>
    <div class="air air-bottom-left padding-10 txt-color-white hidden">
      <%= render :partial =>'layouts/interestbutton', :locals => {:user => user}%>
    </div>
    <div class="air air-bottom-right padding-10 hidden">
      <%= link_to profile_path(:id =>user[:profile][:id]) do %><button class="btn btn-primary pull-right">more</button><% end %>
    </div>
  </div>
  <div class="text">
    <p>
      <div class="pull-left semi-bold">
        <%= user[:devotion] %>
        (<%= user[:age] %>)</div>
      <div class="pull-right">
        <%= render :partial =>'layouts/online', :locals => {:time => user[:updated_at]}%></div>
    </p>

    <legend></legend>

    <% if user[:image].count >= 1 %>
    <h1>
      <small>Images</small>
    </h1>
    <% user[:image][0..3].each do |image| %>
    <a href="<%= image.avatar.url(:original) %>" data-lightbox="roadtrip-<%= user[:profile][:id] %>"><%= image_tag image.avatar.url(:thumb), :style =>"width:35px;height:35px;"%></a>
    <% end %>
    <br>

    <%= link_to profile_path(:id =>user[:profile][:id]), :class=>"pull-right" do %>
    <%= pluralize( user[:images_count], 'Photo') %>
    <% end %>

    <% elsif user[:about][:me] %>
    <h1>
      <small>
        About
        <%= (user[:sex] == "Female")? "Her": "Him" %></small>
    </h1>
    <p>
      <%= raw truncate(sanitize(user[:about][:me], :tags=>[]), :escape => false, length: 30) %></p>
    <%= link_to profile_path(:id =>user[:profile][:id]), :class=>"pull-right" do %>read more
    <% end %>

    <% else if user[:avatar] %>
    <h1>
      <small>Profile Pic</small>
    </h1>
    <a href="<%= user[:avatar].url(:original) %>" data-lightbox="roadtrip-<%= user[:profile][:id] %>"><%= image_tag user[:avatar].url(:tiny), :style=>"width:35px;height:35px;" %></a>
    <br>

    <small class="text-muted pull-right">
      Joined
      <%= user[:created_at] %>
      <% end %>ago</small>

    <% end %>
    <!-- end if --> </div>

  <div class="author_box">
    <p>
      Active <%= truncate("#{user[:updated_at]} ago", :length =>20) %>
    </p>
    <div class="pull-right">
      <%= render :partial =>'layouts/shortlistbutton', :locals => {:user => user}%>
    </div>
    </p>
  </div>
  </div>


  <script type="text/javascript">
$(document).ready(function() {
    $(".post").hoverIntent({
        over: function () {
            var e = $(this).find('.air');
            e.removeClass('hidden')
        },
        out: function () {
            var e = $(this).find('.air');
            e.addClass('hidden');
        },
        interval: 0,
        timeout: 0
    });
});
  </script>