<h1>
  Profile of
  <span class="semi-bold">
    <%= user[:name] %></span>
  <br>
    <small>
      <% dob = user[:dob].gsub("/","-") %>
      <%= !dob.empty? ? distance_of_time_in_words(Date::strptime(dob, "%m-%d-%Y"), Time.now) : "" %> Old</small>
</h1>
<ul class="list-unstyled">
  <li>
    <p class="text-muted">
      <i class="fa fa-envelope"></i>
      &nbsp;&nbsp;
      <span>on@acceptance</span>
    </p>
  </li>
  <li>
    <% items = {marital_status: [:profile, 'fa-heart'], birth_city: [:kundali, 'fa-globe'], caste: [:religion, 'fa-certificate'], manglik: [:kundali, 'fa-sun-o'], posted_by: [:profile, 'fa-user']  } %>
    <% items.stringify_keys.each do |key, value| %>
    <p class="text-muted">
      <i class="fa <%= value[1] %>"></i>
      &nbsp;&nbsp;
      <span class="txt-color-darken">
      <strong>
        <%= key.gsub('_', ' ').capitalize %>:
      </strong>
       <%= user[value[0]][key] %>
      </span>
    </p>
    <% end %>
  </li>
</ul>
