<ul class="list-unstyled">
  <li>
    <p>
      <i class="fa fa-file"></i> <%= user[:name] %>
      <%= link_to profile_path(:id => user[:profile][:id]), :class=>""  do %>
      <small class="txt-color-blue">(<%= pluralize(user[:visitors].to_i, "profile view") %>)
      </small>
  <% end %>
    </p>
  </li>
  <li>
    <p>
      <i class="fa fa-sun-o"></i> Religion: 
      <%= user[:devotion] %>
    </p>
  </li>
  <li>
    <p>
      <i class="fa fa-calendar"></i> Age: 
    </p>
  </li>
  <li>
  <% if current_user.sex == "Female" %>
    <% items = {home: [:profile, 'fa-home'], caste: [:religion, 'fa-bars'], posted_by: [:profile, 'fa-user'], manglik: [:kundali, "fa fa-circle"], occupation: [:occupation, "fa fa-suitcase"], desired_income: [:desire, "fa fa-money"] } %>
  <% else %>
    <% items = {home: [:profile, 'fa-home'], caste: [:religion, 'fa-bars'], posted_by: [:profile, 'fa-user'], manglik: [:kundali, "fa fa-circle"], occupation: [:occupation, "fa fa-suitcase"], company: [:occupation, "fa fa-bookmark"], annual_income: [:occupation, "fa fa-money"] } %>
  <% end %>
    
    <% items.stringify_keys.each do |key, value| %>
    <p>
      <i class="fa <%= value[1] %>"></i> <%= key.gsub('_', ' ').titleize %>:

        <% if user[value[0]][key] %>
        <strong class="txt-color-blueDark">
         <%= truncate(titleize(user[value[0]][key]), length: 20) %>
       </strong>
       <% end %>
    </p>
    <% end %>
  </li>
</ul>

