<ul class="list-unstyled">
  <li>
    <p class="font-md">
    <%= link_to profile_path(:id =>user[:profile][:id]) do %>
    <%= user[:age] %> years old, <%= user[:devotion].downcase %> <%= user[:religion][:caste] %>
    <% end %>
    </p>
  </li>
  <hr>
  <li>
    <p class="">
      <i class="fa fa-file"></i> <%= user[:name] %>
    </p>
  </li>
  <li>
    <p class="">
      <i class="text-muted fa fa-circle"></i> Joined: <%= truncate(user[:created_at], length: 15) %> ago
    </p>
  </li>
  <li>
  <% if current_user.sex == "Male" %>
    <% items = {posted_by: [:profile, 'fa-user'], manglik: [:kundali, "fa fa-circle"], occupation: [:occupation, "fa fa-suitcase"], desired_income: [:desire, "fa fa-money"] } %>
  <% else %>
    <% items = {home: [:profile, 'fa-home'], caste: [:religion, 'fa-bars'], posted_by: [:profile, 'fa-user'], manglik: [:kundali, "fa fa-circle"], occupation: [:occupation, "fa fa-suitcase"], company: [:occupation, "fa fa-bookmark"], annual_income: [:occupation, "fa fa-money"] } %>
  <% end %>
      <% items.stringify_keys.each do |key, value| %>
      <p class="">
      <span class="text-muted">
        <i class="text-muted fa <%= value[1] %>"></i> <%= key.gsub('_', ' ').titleize %>:
      </span>

        <% if user[value[0]][key] %>
        <span class="">
         <%= truncate(titleize(user[value[0]][key]), length: 20) %>
       </span>
       <% end %>
    </p>
    <% end %>
  </li>
</ul>