<% if  current_user.id == user[:id] || (user[:out_response] && user[:out_response][:response] == 1) %>
  <% contactinfo_self = user[:contact][:self_no]  %>
  <% contactinfo_s_id = user[:contact][:s_id]  %>
  <% contactinfo_g_id = user[:contact][:g_id]  %>
  <% contactinfo_w_id = user[:contact][:w_id]  %>
  <% contactinfo_fb_link = user[:contact][:fb_link]  %>
  <% contactinfo_ln_link = user[:contact][:ln_link]  %>
<% else %>
  <% contactinfo_self = "On Acceptance"  %>
  <% contactinfo_s_id = "On Acceptance"  %>
  <% contactinfo_g_id = "On Acceptance"  %>
  <% contactinfo_w_id = "On Acceptance"  %>
  <% contactinfo_fb_link = "On Acceptance"  %>
  <% contactinfo_ln_link = "On Acceptance"  %>
<% end %>

<div class="tree">
  <ul role="tree">
    <li class="parent_li" role="treeitem">
      <span title="Collapse this branch"> <i class="fa fa-lg fa-plus-circle"></i>
        Contact Details
      </span>
      <script type="text/javascript">
        // Dirty hack to keep this tree branch collapsed
       //  $(function () {
       //   $('.tree li.parent_li > span').on('click', function (e) {
       //    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
       //    e.stopPropagation();
       //  }).click();
       // });
      </script>
      <% if  current_user.profile.id == @user[:profile][:id] %>
      <button class="btn btn-xs btn-default hidden-xs" data-toggle="modal" data-target="#modal-edit-contact">
        edit contact
      </button>
      <% end %>
      <ul role="group">
        <li class="parent_li" role="treeitem" style="display: list-item;">
          <span class="label label-success" title="Collapse this branch"> <i class="fa fa-lg fa-plus-circle"></i>
            Telephone
          </span>
          <ul role="group">
            <li style="display: none;">
              <span>
                <i class="fa fa-phone"></i>
              </span>
              –
              <strong><%= contactinfo_self %></strong>
            </li>
          </ul>
        </li>
        <li class="parent_li" role="treeitem" style="display: list-item;">
          <span class="label label-success" title="Expand this branch">
            <i class="fa fa-lg fa-plus-circle"></i>
            Skype
          </span>
          <ul role="group">
            <li>
              <span>
                <i class="fa fa-skype"></i>
              </span>
              –
              <%= contactinfo_s_id %>
            </li>
          </ul>
        </li>
        <li class="parent_li" role="treeitem" style="display: list-item;">
          <span class="label label-warning" title="Expand this branch">
            <i class="fa fa-lg fa-plus-circle"></i>
            Google !
          </span>
          <ul role="group">
            <li>
              <span>
                <i class="fa fa-google-plus"></i>
              </span>
              –
              <%= contactinfo_g_id %>
            </li>
          </ul>
        </li>
        <li class="parent_li" role="treeitem" style="display: list-item;">
          <span class="label label-danger" title="Expand this branch">
            <i class="fa fa-lg fa-plus-circle"></i>
            WhatsApp !
          </span>
          <ul role="group">
            <li>
              <span>
                <i class="fa fa-comment"></i>
              </span>
              –
              <%= contactinfo_w_id %>
            </li>
          </ul>
        </li>
        <li class="parent_li" role="treeitem" style="display: list-item;">
          <span class="label label-danger" title="Expand this branch">
            <i class="fa fa-lg fa-plus-circle"></i>
            Social Links
          </span>
          <ul role="group">
            <li>
              <span>
                <i class="fa fa-facebook"></i>
              </span>
              –
              <%= contactinfo_fb_link %>
            </li>
            <li>
              <span>
                <i class="fa fa-linkedin"></i>
              </span>
              –
              <%= contactinfo_ln_link %>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </li>
</ul>
</div>