<% if  current_user.id == user[:id] || (!user[:out_response].nil? && user[:out_response][:response] == 1) || (!user[:in_response].nil? && user[:in_response].response == 1) %>
  <% contactinfo_self = user[:contact][:self_no]  %>
  <% contactinfo_s_id = user[:contact][:s_id]  %>
  <% contactinfo_g_id = user[:contact][:g_id]  %>
  <% contactinfo_w_id = user[:contact][:w_id]  %>
  <% contactinfo_fb_link = user[:contact][:fb_link]  %>
  <% contactinfo_ln_link = user[:contact][:ln_link]  %>
<% else %>
  <% contactinfo_self = "On Acceptance"  %>
  <% contactinfo_s_id = "On Acceptance"  %>
  <% contactinfo_g_id = "On Acceptance"  %>
  <% contactinfo_w_id = "On Acceptance"  %>
  <% contactinfo_fb_link = "On Acceptance"  %>
  <% contactinfo_ln_link = "On Acceptance"  %>
<% end %>

<table class="table table-hover">
  <tbody>
  <thead>
    <th>
        <% if  current_user.profile.id == user[:profile][:id] %>
      <button class="btn btn-xs btn-thin hidden-xs" data-toggle="modal" data-target="#modal-edit-contact">
        Edit contact
      </button>
      <% end %>
    </th>
    <th>Contact</th>
    <th>Details</trh
  </thead>
    <tr >
      <td><i class="fa fa-phone"></i></td>
      <td>Telephone</td>
      <td><%= contactinfo_self.to_s.gsub("_","") %></td>
    </tr>
    <tr>
      <td><i class="fa fa-skype"></i></td>
      <td>Skype</td>
      <td><%= contactinfo_s_id %></td>
    </tr>
    <tr>
      <td><i class="fa fa-google-plus"></i></td>
      <td>Google</td>
      <td><%= contactinfo_g_id %></td>
    </tr>
    <tr>
      <td><i class="fa fa-comments"></i></td>
      <td>WhatsApp</td>
      <td><%= contactinfo_w_id %></td>
    </tr>
    <tr>
      <td><i class="fa fa-facebook"></i></td>
      <td>Facebook</td>
      <td><%= contactinfo_fb_link %></td>
    </tr>
    <tr>
      <td><i class="fa fa-linkedin"></i></td>
      <td>Linkedin</td>
      <td><%= contactinfo_ln_link %></td>
    </tr>
  </tbody>
</table>