<div class="collapse navbar-collapse js-navbar-collapse hidden-xs">
  <ul class="nav navbar-nav">
    <li class="dropdown dropdown-large">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Menu <b class="caret"></b>
      </a>

      <ul class="dropdown-menu dropdown-menu-large row">
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">Find Matches</li>
            <li>
              <%= link_to profiles_path do %>
              Find New Users
              <% end %>
            </li>
            <li class="divider"></li>
            <li class="dropdown-header">My Profile</li>
            <li>
              <%= link_to profile_path(:id =>current_user.profile.id) do %>
              </i> Show My Profile
              <% end %>
            </li>
            <li>
              <%= link_to edit_profile_path(:id =>current_user.profile.id) do %>
              Edit My Profile
              <% end %>
            </li>
            <li>
              <%= link_to edit_profile_path(:id =>current_user.profile.id) do %>
              Change Profile Pic
              <% end %>
            </li>
          </ul>
        </li>
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">Activity</li>
            <li>
              <%= link_to visitors_profiles_path do %>
              My Profile Visitors
              <% end %>
            </li>
            <li>
              <%= link_to shortlists_profiles_path do %>
              Profiles I shortlisted
              <% end %>
            </li>
            <li>
              <%= link_to incomings_profiles_path do %>
              My Incoming Interests
              <% end %>
            </li>
            <li>
              <%= link_to outgoings_profiles_path do %>
              My Interests Responses
              <% end %>
            </li>
            <li>
              <%= link_to accepted_profiles_path do %>
              <strong>Accepted !</strong>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">My Account</li>
            <li class="disabled">
              <a href="#">Already a Premium Member</a>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
              Account password
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
              Delete Account
              <% end %>
            </li>
            <li class="divider"></li>
            <li class="dropdown-header">Help</li>
            <li class="disabled">
              <a href="#">Coming Soon</a>
            </li>
          </ul>
        </li>
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">Social</li>
            <li>
              <a href="https://www.facebook.com/pages/Shaadi-Match/647212955344894"><i class="fa fa-facebook"></i>acebook</a>
            </li>
          </ul>
        </li>
      </ul>

    </li>
  </ul>
</div>