<% users.each do |user| %>
  <%= link_to profile_path(:id =>user[:profile][:id]), :class=> "btn btn-default btn-block" do %>
  <dl>
      <dt>
        <%= image_tag user[:avatar].url(:thumb), :class=> "pull-left",:style =>"height:35px;width:35px;" %>
      </dt>
    <dd class="">
      <i class="fa fa-circle txt-color-blue"></i>
      <strong><%= truncate(user[:name], length: 20) %></strong>
      <small class="text-muted"><%= text %></small>
      (
      <% if user[:updated_at].include? "minute" %>
        <i class="txt-color-greenLight fa fa-sm fa-circle"></i>
        <small><strong>Online</strong></small>
      <% else %>
        <small><strong>Last Active</strong></small>
      <% end %>
      <span class="text-muted font-xs">
        <%= user[:updated_at] %>
        ago</span>
        )
    </dd>
  </dl>
  <% end %>
<% end %>
