<% notifications.each do |notification_id, user| %>
  <%= form_tag({:action=>'seen_notification', :controller => "profiles"}, {:remote => true}) do %>
  <%= link_to profile_path(:id => user[:profile][:id]), :type=> "submit", :onclick=>"$(this).closest('form').submit()" do %>
  <input type="hidden" name="notification_id" value="<%= notification_id %>">
    <div class="divhover-light">
      <dl class="dl-horizontal">
        <dt>
          <%= image_tag user[:avatar].url(:thumb), :class=> "img-rounded pull-left",:style =>"height:75px;width:75px;" %>
        </dt>
        <dd class="dl-horizontal">
          <blockquote class="text-muted font-sm pull-right">
            <p class="font-sm semi-bold"><i class="<%= user[:icon] %>"></i>
            <strong><%= truncate(user[:name], length: 20) %></strong>
            <br>
              <%= user[:message] %>
              </p>
            <small>
              <% if user[:seen] != 1 %><i class="fa fa-circle txt-color-blue"></i>
              <% end %>
              <%= user[:created_at] %>
              ago
            </small>
          </blockquote>
        </dd>
      </dl>
    </div>
  <% end %>
  <!-- End Link -->
  <% end %>
  <!-- End Form -->
<% end %>
<!-- End Loop -->