  <% notifications.each do |notification_id, user| %>
  <%= form_tag({:action=>'seen_notification', :controller => "profiles"}, {:remote => true}) do %>  
    <% if user[:seen] == 1 %>
    <% form_submit = "" %>
    <% else %>
    <% form_submit = "$(this).closest('form').submit()" %>
    <% end %>
    <%= link_to profile_path(:id => user[:profile][:id]), :type=> "submit", :onclick=>"#{form_submit}" do %>
  <input type="hidden" name="notification_id" value="<%= notification_id %>">
  <ul class="notification-body">
    <li>
    <% if user[:seen] != 1 %>
      <span class="padding-10 unread">
      <% else %>
      <span class="padding-10">
      <% end %>
      <span class="padding-5">
        <%= image_tag user[:avatar].url(:thumb), :class=> "img-rounded pull-left",:style =>"height:55px;width:55px;" %>
      </span>
      
      <span class="padding-5">
         <i class="<%= user[:icon] %>"></i> <span class="text-primary">
           <strong><%= truncate(user[:name], length: 20) %></strong>
         </span> <%= user[:message] %>
         <br>
         <span class="pull-right font-xs text-muted"><i><%= user[:created_at] %> ago...</i></span>
      </span>
      
    </span>
  </li>
  
  </ul>
  <% end %>
<% end %>
<% end %>
