<% users.each do |user| %>
  <%= link_to profile_path(:id =>user[:profile][:id]), :class=> "btn btn-default btn-block" do %>
  <dl class="padding0">
      <dt>
        <%= image_tag user[:avatar].url(:thumb), :class=> "pull-left",:style =>"height:70px;width:70px;" %>
      </dt>
    <dd class="">
      <%= truncate(user[:name], length: 20) %>
      (<span class="font-xs">
        <strong><%= user[:age] %></strong>
        old</span>)
      <br>
      <small class="text-muted"><%= text %></small>
      <br>
      <% if user[:updated_at].include? "minute" %>
        <i class="txt-color-greenLight fa fa-sm fa-circle"></i>
        <small><strong>Online</strong></small>
      <% else %>
        <small><strong>Offline</strong></small>
      <% end %>
      <span class="text-muted font-xs">
        <%= user[:updated_at] %>
        ago</span>
    </dd>
  </dl>
  <% end %>
<% end %>
