<% notifications.each do |notif_id, user| %>
  <%#= form_tag({:action=>'modify_family', :controller => "blah"},{:remote => true, :class=>"smart-form"}) do %>
  <%= link_to profile_path(:id => user[:profile][:id]), :class=> "" do %>
    <div class="divhover-light">
      <dl class="dl-horizontal">
        <dt>
          <%= image_tag user[:avatar].url(:thumb), :class=> "pull-left",:style =>"height:45px;width:45px;" %>
        </dt>
        <dd class="dl-horizontal">
          <strong><%= truncate(user[:name], length: 20) %></strong>
          <blockquote class="text-muted font-sm pull-right">
            <p class="font-sm semi-bold"><i class="<%= user[:icon] %>"></i>
              <%= user[:message] %></p>
            <small>
              <% if user[:seen] != 1 %><i class="fa fa-circle txt-color-blue"></i>
              <% end %>
              <%= user[:created_at] %>
              ago
            </small>
          </blockquote>
        </dd>
      </dl>
    </div>
  <% end %>
<% end %>
