<% users.each do |user| %>
  <br>
  <dl class="dl-horizontal">
    <dt>
      <%= image_tag user[:avatar].url(:thumb), :class=> "pull-left",:style =>"height:45px;width:45px;" %>
    </dt>
    <dd class="dl-horizontal">
      &nbsp;&nbsp;
      <%= link_to profile_path(:id =>user[:profile][:id]), :class=> "" do %>
        <strong><%= truncate(user[:name], length: 20) %></strong>
      <% end %>
      <strong class="<%= color %>"><%= text %></strong>
      (
      <% if user[:updated_at].include? "minute" %>
        <i class="txt-color-greenLight fa fa-sm fa-circle"></i>
        <small><strong>Online</strong></small>
      <% else %>
        <small><strong>Last Active</strong></small>
      <% end %>
      <span class="text-muted font-xs">
        <%= user[:updated_at] %>
        ago</span>
      )
    </dd>
  </dl>
<% end %>
