<% profile_progress = 100 %>
<% message = "" %>
	<% if current_user.avatar_file_size < 1000 %>
	<% profile_progress -= 20 %>
	<% message = "Upload profile pic" %>
	<% end %>

	<% if current_user.images_count.to_i < 1 %>
	<% profile_progress -= 10 %>
	<% message = "Upload some images" %>
	<% end %>

	<% if current_user.profile.home.nil? %>
	<% profile_progress -= 5 %>
	<% message = "Where are you from ?" %>
	<% end %>

	<% if current_user.religion.caste.nil? %>
	<% profile_progress -= 5 %>
	<% message = "Whats your caste ?" %>
	<% end %>

<div class="bar-holder">
  <div class="progress">
    <div class="progress-bar bg-color-blue" aria-valuetransitiongoal="100" style="width: <%= profile_progress %>%;" aria-valuenow="<%= profile_progress %>"><%= profile_progress %>%</div>
  </div>

  <%= link_to edit_profile_path(:id =>current_user.profile.id), :class=>"pull-right" do %>
    <%= message %>
  <% end %>
</div>
