<!-- RIBBON -->
<div id="ribbon">
  <ol class="breadcrumb">
    <li>
      <a href="/">
        <%= papa %></a>
    </li>
    <li>
      <%= son %></li>
  </ol>
</div>
<br>
<div class="collapse navbar-collapse navbar-inverse navbar-fixed-top">
  <ul class="nav navbar-nav">
    <li class="">
      <a href="/" class="txt-color-white">
        <%= image_tag "logo-wide-w.png", :class=>"padding-0" %></a>
    </li>
    <li>
      <a href="/explore" class="txt-color-white"><i class="fa fa-search"></i>
        EXPLORE</a>
    </li>
        <li class="dropdown">
      <a class="dropdown-toggle txt-color-white" data-toggle="dropdown" href="javascript:void(0);">
        Sort by
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="/profiles/online">Online Now</a>
        </li>
        <li>
          <a href="/profiles/recentlyjoined">Joined Today</a>
        </li>
        <li>
          <a href="/profiles/withphotos">With Photos</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/messages/"><i class="fa fa-comments"></i>
        Chat</a>
    </li>
    <li>
      <a href="/profiles/visitors"><i class="fa fa-thumbs-up"></i>
        Visitors</a>
    </li>
    <li>
      <a href="/profiles/incomings"><i class="fa fa-heart"></i>
        Interested</a>
    </li>
    <li>
      <a href="/profiles/accepted"><i class="fa fa-check"></i>
        Accepted</a>
    </li>
    <li>
      <a href="/profiles/outgoings"><i class="fa fa-thumbs-down"></i>
        Rejected</a>
    </li>
    <li>
      <a href="/profiles/waiting"><i class="fa fa-bell"></i>
        Waiting</a>
    </li>
    <li>
      <a href="/profiles/<%= current_user.profile.id %>">
        <i class="fa fa-lg fa-fw fa-file"></i>
        <span class="menu-item-parent">My Profile</span>
      </a>
    </li>
    <li>
      <%= link_to edit_profile_path(:id =>current_user.profile.id), :class=>"txt-color-white" do %>
        <i class="fa fa-edit"></i>
        Edit Profile
      <% end %>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
        Account
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to edit_user_registration_path do %>
            Change Password
          <% end %>
        </li>
        <li>
          <%= link_to edit_user_registration_path do %>
            Delete account
          <% end %>
        </li>
        <li>
          <a href="<%= destroy_user_session_path %>" title="Sign Out" id="logout">
            Sign out
          </a>
        </li>
      </ul>
    </li>
  
  </ul>
  <%= form_tag({:action=>'search', :controller => "profiles"},{:class=>"navbar-form navbar-left pull-right"}) do %>
    <input type="text" placeholder="Hindu, Delhi anything" id="header-search" name="query" class="form-control">
    <button type="submit" class="btn btn-primary hidden"></button>
  <% end %>
</div>
