<div class="search-results">
  <h4>
    <%= link_to profile_path(:id => user[:profile][:id]) do %>
      <strong><%= user[:name] %>,
        <%= user[:age] %></strong>
      years old
    <% end %>
    <i class="fa fa-caret-right fa-lg"></i>
    Profile Id:
    <%= user[:profile][:id] %>
    <%= render :partial =>'layouts/online', :locals => {:time => user[:updated_at]}%>
    <small class="text-muted">Last online
      <%= user[:updated_at] %>
      ago</small>
  </h4>
  <% if user[:avatar].url.ends_with?("normal/Male.png") || user[:avatar].url.ends_with?("normal/Female.png") %>
  <% else %>
    <%= image_tag user[:avatar].url(:thumb) %>
  <% end %>
  <div>
    <p class="note">
      <%= render :partial =>'layouts/shortlistbutton', :locals => {:user => user} %>
    </p>
    <p class="description">
      <i class="fa fa-eye"></i> Total Profile Views <i class="fa fa-angle-right"></i> <strong><%= number_with_delimiter(user[:visitors].to_i, :delimeter => ',') %></strong> <br>
      <i class="fa fa-picture-o"></i> Images <i class="fa fa-angle-right"></i> <strong><%= user[:image].count %></strong> <br>
      <i class="fa fa-sun-o"></i> Religion <i class="fa fa-angle-right"></i> <strong><%= user[:devotion] %></strong> <br>
      <i class="fa fa-calendar"></i> Date of Birth <i class="fa fa-angle-right"></i> <strong><%= user[:dob] %></strong> <br>
      <i class="fa fa-bars"></i> Caste <i class="fa fa-angle-right"></i> <strong><%= user[:religion][:caste] %></strong> <br>
    </p>
  </div>
  <br>
  <%= render :partial =>'layouts/interestbutton', :locals => {:user => user} %>
  <%= link_to profile_path(:id => user[:profile][:id]), :class=> "pull-right" do %>
    Show Full Profile
  <% end %>
  <br>
  <i class="fa fa-file"></i> More About <%= (user[:sex] == "Female")? "Her": "Him" %> <i class="fa fa-angle-right"></i> 
  <p class="description wordwrap">
    <span><%= raw truncate(user[:about][:me], length:500, escape:false) %></span> <br>
  </p>
</div>

