<div class="search-results">
  <h4>
    <%= link_to profile_path(:id => user[:profile][:id]) do %>
      <strong><%= user[:name] %>,
        <%= user[:age] %></strong>
      years old
    <% end %>
    <i class="fa fa-caret-right fa-lg"></i>
    Profile Id:
    <%= user[:profile][:id] %>
    <%= render :partial =>'layouts/online', :locals => {:time => user[:updated_at]}%>
    <small class="text-muted">Last online
      <%= user[:updated_at] %>
      ago</small>
  </h4>
  <% if user[:avatar].url.ends_with?("normal/Male.png") || user[:avatar].url.ends_with?("normal/Female.png") %>
  <% else %>
    <%= image_tag user[:avatar].url(:thumb) %>
  <% end %>
  <div>
    <p class="note">
      <%= render :partial =>'layouts/shortlistbutton', :locals => {:user => user} %>
    </p>
    <p class="description">
      <span class="">Home <i class="fa fa-angle-right"></i> </span><strong><%= user[:profile][:home] %></strong> <br>
      <span class="">Images <i class="fa fa-angle-right"></i> </span><strong><%= user[:image].count %></strong> <br>
      <span class="">Caste <i class="fa fa-angle-right"></i> </span><strong><%= user[:religion][:caste] %></strong> <br>
      <span class="">Religion <i class="fa fa-angle-right"></i> </span><strong><%= user[:devotion] %></strong> <br>
      <span class="">Date of Birth <i class="fa fa-angle-right"></i> </span><strong><%= user[:dob] %></strong>
      <hr>
      <span class="">Total Profile Views <i class="fa fa-angle-right"></i> </span><strong><%= number_with_delimiter(user[:visitors].to_i, :delimeter => ',') %></strong>
    </p>
  </div>
  <br>
  <%= render :partial =>'layouts/interestbutton', :locals => {:user => user} %>
  <br>
  <span class="text-muted"><i class="fa fa-file"></i> More About <%= (user[:sex] == "Female")? "Her": "Him" %> </span><i class="fa fa-angle-right"></i> 
  <% if user[:about][:me] %>
  <div class="wordwrap hidden-xs">
    <span><%= raw truncate(user[:about][:me], length:500, escape:false) %></span> <br>
  </div>
  <% end %>
</div>

