<!-- Left panel : Navigation area -->
<hr>
<div class="">
  <aside id="left-panel">
<!-- <span class="minifyme">
  <i class="fa fa-arrow-circle-left hit"></i>
</span> -->

  <!-- User info -->
  <div class="login-info">
    <span>
    <a class="btn-link" data-toggle="modal" data-target="#modal-edit-avatar">
      <%= image_tag current_user.avatar.url(:thumb), :class => "img-rounded" %>
      </a>
      <!-- User image size is adjusted inside CSS, it should stay as it -->
      <%= link_to truncate(current_user.name, length: 10), profile_path(:id =>current_user.profile.id) %>
    </span>
  </div>
  <!-- end user info -->
  <!-- <hr> -->
  <nav>
  <ul>
    <li class="hidden-mobile">
      <a href="/">
        <i class="fa fa-lg fa-fw fa-search"></i>
        <span class="menu-item-parent">Explore</span>
      </a>
    </li>
    <li class="hidden-mobile">
      <a href="/messages/">
        <i class="fa fa-lg fa-fw fa-comments txt-color-green"></i>
        <% if current_user.badge.message != 0 %>
        <small>
            <label class="badge bg-color-red font-xs">
            <%= current_user.badge.message %>
          </label>
        </small>
          <% end %>
        <span class="menu-item-parent side-chat">Chat</span>
      </a>
    </li>
    <li>
      <a href="/profiles/visitors">
        <i class="fa fa-lg fa-fw fa-thumbs-up"></i>
          <% if current_user.badge.visitor != 0 %>
          <small><label class="badge bg-color-red font-xs">
          <%= current_user.badge.visitor %>
          </label></small> 
          <% end %>
        <span class="menu-item-parent">
          Visitors
        </span>
      </a>
    </li>
    <li>
      <a href="/profiles/incomings">
        <i class="fa fa-lg fa-fw fa-heart txt-color-pink"></i>
          <% if current_user.badge.interest != 0 %>
          <small>
            <label class="badge bg-color-red font-xs">
            <%= current_user.badge.interest %>
          </label>
        </small>
          <% end %>
        <span class="menu-item-parent">
        Interested
        </span>
      </a>
    </li>
    <li>
      <a href="/profiles/accepted">
        <i class="fa fa-lg fa-fw fa-check txt-color-green"></i>
        <span class="menu-item-parent">
          Accepted
        </span>
      </a>
    </li>
    <li>
      <a href="/profiles/outgoings">
        <i class="fa fa-lg fa-fw fa-thumbs-down txt-color-red"></i>
        <span class="menu-item-parent">
        Rejected
        </span>
      </a>
    </li>
    <li>
      <a href="/profiles/waiting">
        <i class="fa fa-lg fa-fw fa-bell txt-color-orange"></i>
        <span class="menu-item-parent">Waiting</span>
      </a>
    </li>
    <li>
      <a href="/profiles/<%= current_user.profile.id %>/edit">
        <i class="fa fa-lg fa-fw fa-edit"></i>
        <span class="menu-item-parent">Edit Profile</span>
      </a>
    </li>
    <li>
      <a href="/profiles/<%= current_user.profile.id %>">
        <i class="fa fa-lg fa-fw fa-file"></i>
        <span class="menu-item-parent">My Profile</span>
      </a>
    </li>
    <li>
      <a href="/contact">
        <i class="fa fa-lg fa-fw fa-link"></i>
        <span class="menu-item-parent">Connect</span>
      </a>
    </li>
  </ul>
</nav>
</aside>
</div>
<!-- END NAVIGATION -->
<%= render :partial => 'layouts/profiles/edit/modaledit', :locals => {:id => "modal-edit-avatar", :tpl => "avatar"} %>