<!-- Left panel : Navigation area -->
<%= link_to "Show", root_path, :id=>"hidden-side-explore", :class=>"hidden" %>
<%= link_to "Show", dashboard_index_path, :id=>"hidden-side-dashboard", :class=>"hidden" %>
<%= link_to "Edit", edit_profile_path(:id =>current_user.profile.id), :id=>"hidden-side-edit", :class=>"hidden" %>
<%= link_to "Show", profile_path(:id =>current_user.profile.id), :id=>"hidden-side-myprofile", :class=>"hidden" %>


<aside id="left-panel">
<span class="minifyme">
  <i class="fa fa-arrow-circle-left hit"></i>
</span>

  <!-- User info -->
  <div class="login-info">
    <span>
      <!-- User image size is adjusted inside CSS, it should stay as it -->
      <%= image_tag current_user.avatar.url(:thumb), :class => "img-rounded" %>
      <a href="javascript:void(0);" id="show-shortcut">
        <i class="fa fa-user"></i><span> </span>
        <%= link_to truncate(current_user.name, length: 15), profile_path(:id =>current_user.profile.id)%>

      </a>
    </span>
  </div>
  <!-- end user info -->

  <!-- NAVIGATION : This navigation is also responsive

      To make this navigation dynamic please make sure to link the node
      (the reference to the nav >
  ul) after page load. Or the navigation
      will not initialize.
      -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>
  ..
        Please note that these links work a bit different than
        traditional hre="" links. See documentation for details.
        -->
  <ul>
    <li>
      <a href="" id="side-explore">
        <i class="fa fa-lg fa-fw fa-list-alt"></i>
        <span class="menu-item-parent">Explore</span>
      </a>
    </li>
    <li>
      <a href="" id="side-dashboard">
        <i class="fa fa-lg fa-fw fa-list-alt"></i>
        <span class="menu-item-parent">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0);" id="side-edit">
        <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
        <span class="menu-item-parent">Edit Profile</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0);" id="side-myprofile">
        <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
        <span class="menu-item-parent">Show My Profile</span>
      </a>
    </li>
  </ul>
</nav>
</aside>
<!-- END NAVIGATION -->
