<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<%= link_to "Show", root_path, :id=>"hidden-side-explore", :class=>"hidden" %>
<%= link_to "Edit", edit_profile_path(:id =>current_user.profile.id, :format=>"avatar"), :id=>"hidden-side-avatar-edit", :class=>"hidden" %>
<%= link_to "Edit", edit_profile_path(:id =>current_user.profile.id, :format=>"images"), :id=>"hidden-side-images-edit", :class=>"hidden" %>
<%= link_to "Edit", edit_profile_path(:id =>current_user.profile.id, :format=>"basic"), :id=>"hidden-side-basic-edit", :class=>"hidden" %>
<%= link_to "Edit", edit_profile_path(:id =>current_user.profile.id, :format=>"contact"), :id=>"hidden-side-contact", :class=>"hidden" %>
<%= link_to "Edit", edit_profile_path(:id =>current_user.profile.id, :format=>"religion-kundali"), :id=>"hidden-side-religion-kundali-edit", :class=>"hidden" %>
<%= link_to "Edit", edit_profile_path(:id =>current_user.profile.id, :format=>"hobby-lifestyle"), :id=>"hidden-side-hobby-lifestyle-edit", :class=>"hidden" %>
<%= link_to "Edit", edit_profile_path(:id =>current_user.profile.id, :format=>"family-education"), :id=>"hidden-side-family-education-edit", :class=>"hidden" %>
<%= link_to "Edit", edit_profile_path(:id =>current_user.profile.id, :format=>"desired-aboutme"), :id=>"hidden-side-desired-aboutme-edit", :class=>"hidden" %>


<aside id="left-panel">
<span class="minifyme">
  <i class="fa fa-arrow-circle-left hit"></i>
</span>

  <!-- User info -->
  <div class="login-info">
    <span>
      <!-- User image size is adjusted inside CSS, it should stay as it -->

      <%= image_tag current_user.avatar.url(:thumb), :class => "img-rounded" %>
      <a href="javascript:void(0);" id="show-shortcut">
        <i class="fa fa-user"></i><span> </span>
        <%= link_to truncate(current_user.email, length: 15), profile_path(:id =>current_user.profile.id)%>

      </a>
    </span>
  </div>
  <!-- end user info -->

  <!-- NAVIGATION : This navigation is also responsive

      To make this navigation dynamic please make sure to link the node
      (the reference to the nav >
  ul) after page load. Or the navigation
      will not initialize.
      -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>
  ..
        Please note that these links work a bit different than
        traditional hre="" links. See documentation for details.
        -->
  <ul>
    <li>
      <a href="" id="side-explore">
        <i class="fa fa-lg fa-fw fa-list-alt"></i>
        <span class="menu-item-parent">Explore</span>
      </a>
    </li>
    <li>
      <a href="" id="side-dashboard">
        <i class="fa fa-lg fa-fw fa-list-alt"></i>
        <span class="menu-item-parent">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
        <span class="menu-item-parent">Edit Profile</span>
      </a>
      <ul>
        <li>
          <a href="#" id="side-avatar-edit">Profile Pic</a>
        </li>
        <li>
          <a href="#" id="side-images-edit">Images</a>
        </li>
        <li>
          <a href="#" id="side-basic-edit">Basic</a>
        </li>
        <li>
          <a href="#" id="side-contact">Contact Details</a>
        </li>
        <li>
          <a href="#" id="side-religion-kundali-edit">Religion, Kundali</a>
        </li>
        <li>
          <a href="#" id="side-hobby-lifestyle-edit">Hobbies & Lifestyle</a>
        </li>
        <li>
          <a href="#" id="side-family-education-edit">Family & Education</a>
        </li>
        <li>
          <a href="#" id="side-desired-aboutme-edit">About Partner & Me</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
</aside>
<!-- END NAVIGATION -->
