<div id="sign_up2">
  <div class="container">
    <div class="row login">
      <div class="col-md-4 left_box">
        <%= image_tag "logo.png" %>
        <h4>Sign up</h4>
        <div class="perk_box">
          <div class="perk">
            <span class="icos ico1"></span>
            <p><strong>We pioneered</strong>
              the concept of simplicity in online matrimony service. Our goal is to provide fast & easy to use web service that help you find your desired life partner.
            </p>
          </div>
          <div class="perk">
            <span class="icos ico2"></span>
            <p><strong>No Spams</strong>
              Send and receive messages in real time within our website ! Say no to spam emails</p>
          </div>
          <div class="perk">
            <span class="icos ico3"></span>
            <p><strong>We wish</strong>
              you all the best with finding best bride or groom</p>
          </div>
        </div>
      </div>
      <div class="col-md-8 signin_box">
        <div class="box">
          <div class="box_cont">
            <div class="social">
              <%= link_to user_omniauth_authorize_path(:facebook), :class=>"circle facebook" do %>
                <%= image_tag("others/face.png") %>
              <% end %>
              <%= link_to user_omniauth_authorize_path(:twitter), :class=>"circle twitter" do %>
                <%= image_tag("others/twt.png") %>
                <% end %>
                <%= link_to user_omniauth_authorize_path(:google_oauth2), :class=>"circle facebook" do %>
                  <%= image_tag("others/gplus.png") %>
                <% end %>
                <%= link_to user_omniauth_authorize_path(:linkedin), :class=>"circle gplus" do %>
                  <%= image_tag("others/link.png") %>
                <% end %>

                </div>
              </div>
              <div class="division">
                <div class="line l"></div>
                <span>or</span>
                <div class="line r"></div>
              </div>
              <div class="no-padding">
                <%= form_for(resource, :as => resource_name, :id=>"signup-form",:html => {:class => "smart-form client-form"}, :url => registration_path(resource_name), :remote => false) do |f| %>
                  <fieldset>
                    <section class="padding-10">
                      <% if session[:devise_error] %>
                        <% session[:devise_error].each do |er_msg| %>
                        <i class="fa fa-times"></i> <%= er_msg %>
                        <br>
                        <% end %>
                      <% end %>
                      <%#= devise_error_messages! %>
                    </section>
                  </fieldset>
                  <fieldset>
                    <section>
                      <label class="label">
                        <strong>Your Name</strong></label>
                      <small>Your name will only appear when you accept someone's interest or send an interest</small>
                      <label class="input">
                        <i class="icon-append fa fa-user"></i>
                        <%= f.text_field :name, :autofocus => true, :placeholder => "Name" %>
                      </label>
                    </section>
                    <section>
                      <label class="label"><strong>Date of Birth</strong>
                        <br>
                        <strong class="txt-color-red" id="date_show_words"></strong></label>
                      <label class="input">
                        <i class="icon-append fa fa-calendar" id="dob-cal"></i>
                        <input class="form-control" id="dob" type="text" placeholder="september 4 1985 ">
                        <input class="form-control" id="dob-hidden" type="hidden" name="user[dob]">
                      </label>
                      <div class="note">
                        <strong>Example</strong>
                        <span>sep 9 1985</span>
                      </div>
                    </section>
                    <section>
                      <label class="label">
                        <strong>Username</strong></label>
                      <small>Used for login</small>
                      <label class="input">
                        <i class="icon-append fa fa-user"></i>
                        <%= f.text_field :username, :autofocus => true, :placeholder => "username" %>
                      </label>
                    </section>
                    <section>
                      <label class="label">Password</label>
                      <label class="input">
                        <i class="icon-append fa fa-lock"></i>
                        <%= f.password_field :password, :placeholder => "Password" %>
                      </label>
                    </section>
                    <section>
                      <label class="label">Password Confirmation</label>
                      <label class="input">
                        <i class="icon-append fa fa-lock"></i>
                        <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
                      </label>
                    </section>
                  </fieldset>
                  <fieldset>
                    <section>
                      <label class="label">Your
                        <strong>Gender</strong></label>
                      <label class="radio"><%= f.radio_button :sex, "Male" %><i></i>Male</label>
                      <label class="radio"><%= f.radio_button :sex, "Female" %><i></i>Female</label>
                    </section>
                    <section>
                      <label class="label">
                        <i class="fa fa-sun-o"></i>
                        <strong>Religion</strong>
                        <span>and you are done !</span>
                      </label>
                      <input name="user[devotion]" class="selectized" id="select-devotion" placeholder="Religion">
                      <script type="text/javascript">
                        $("#select-devotion").selectize({
                          maxItems: 1,
                          valueField: "title",
                          labelField: "title",
                          searchField: "title",
                          options: [{title: "Hindu"}, {title: "Muslim"}, {title: "Christian"},{title: "Buddhist"}, {title: "Jain"}, {title: "Parsi"}, {title: "Other"}],
                          create: false,
                          render: {
                            option: function(item, escape) {
                              var desc;
                              desc = item.desc ? item.desc : "";
                              return '<div> <strong>' + item.title + '</strong><br><small>' + desc + '</small></div>';
                            }
                          }
                        });
                      </script>
                    </section>
                  </fieldset>
                  <footer>
                    <hr>
                    <button type="submit" id="signup-button" class="btn btn-primary">Sign Up</button>
                  </footer>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript">
  $(document).ready(function() {
  
    $("#dob-cal").datepicker({
      format: 'dd/mm/yyyy',
      startView: "decade",
    });
    $('#dob-cal').on('changeDate', function(ev){
      $(this).datepicker('hide');
      cal_date = $(this).datepicker('getDate');
  
      cal_date = cal_date.getDate() + " " + cal_date.getMonth() +" "+ cal_date.getFullYear()
      cal_date_parse = Date.parse(cal_date)
  
      $("#dob-hidden").val(cal_date_parse.toString('dd/MM/yyyy'));
      $("#dob").val(cal_date_parse.toString('dddd, MMMM d, yyyy'));
      $("#date_show_words").html(cal_date_parse.toString('dddd, MMMM d, yyyy'));
    });
  
    $("#dob").keyup(function(event) {
      date_input = $(this).val();
      the_date = Date.parse(date_input);
      if (the_date != null) {
        $("#date_show_words").html(the_date.toString('dddd, MMMM d, yyyy'));
        $("#dob-hidden").val(the_date.toString('dd/MM/yyyy'));
        $("#signup-button").removeClass("disabled");
      } else {
        $("#dob-hidden").val("");
        $("#date_show_words").html(_.sample(["argh..", "oops", "hmmm ?", "no no noo"]));
        $("#signup-button").addClass("disabled");
      }
    });



  });
</script>
