<!-- Sign In Option 1 -->
<div id="sign_in1">
  <div class="container">
    <div class="row">
      <div class="header">
        <h4>Log in to shaadiMatch</h4>
        <p>
          India's fastest growing Matrimonial website which will keep you indulged with real time updates</p>
        <div class="span4 social">
          <%= link_to user_omniauth_authorize_path(:facebook), :class=>"circle facebook" do %>
            <%= image_tag("others/face.png") %>
          <% end %>
          <%= link_to user_omniauth_authorize_path(:twitter), :class=>"circle twitter" do %>
            <%= image_tag("others/twt.png") %>
          <% end %>
            <%#= link_to user_omniauth_authorize_path(:linkedin), :class=>"circle gplus" do %>
              <%#= image_tag("others/link.png") %>
              <%# end %>
            </div>
          </div>
          <div class="division">
            <div class="line l"></div>
            <span>or</span>
            <div class="line r"></div>
          </div>
          <div class="span12 footer">
            <%= form_for(resource, :as => resource_name, :html => {:class => "smart-form client-form"}, :url => session_path(resource_name)) do |f| %>
              <%= f.text_field :username, :autofocus => true, :placeholder => "Username" %>
              <%= f.password_field :password, :placeholder => "Password" %>
              <input type="submit" class="btn btn-primary" value="Sign in">
            <% end %>
          </div>
        </div>
      </div>
    </div>
