  <div class="row hidden-xs padding-10 bg-color-white">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <ul id="sparks" class="">
      <li class="sparks-info">
      <%= link_to profiles_path,:class=>"btn btn-link", :style=>"text-decoration:none;" do %>
        <h2 class="">
          <span class="txt-color-purple"><i class="fa fa-search"></i>&nbsp;Explore..</span></h2>
          <% end %>
      </li>
      <li class="sparks-info">
      <%= link_to visitors_profiles_path do %>
        <h5>
        <% badge = current_user.badge.visitor > 0 ? "red bounceIn animated" : "blue" %>
        <small><label class="badge bg-color-<%= badge %> font-xs"><%= current_user.badge.visitor %></label></small> Profile Visitors
          <span class="txt-color-purple"><i class="fa fa-thumbs-up txt-color-pinkDark"></i>&nbsp;<%= @sparks[:visitors] %>
          </span>
          </h5>
          <% end %>
      </li>
      <li class="sparks-info">
      <%= link_to incomings_profiles_path do %>
        <h5>
        <% badge = current_user.badge.interest > 0 ? "red bounceIn animated" : "blue" %>
        <small><label class="badge bg-color-<%= badge %> font-xs"><%= current_user.badge.interest %></label></small>
           Incoming Interests
          <span class="txt-color-greenDark"><i class="fa fa-heart txt-color-blue"></i>&nbsp;<%= @sparks[:incoming] %>
          </span></h5>
          <% end %>
      </li>
      <li class="sparks-info">
      <%= link_to accepted_profiles_path do %>
        <h5>
        <% badge = current_user.badge.accepted > 0 ? "red bounceIn animated" : "blue" %>
        <small><label class="badge bg-color-<%= badge %> font-xs"><%= current_user.badge.accepted %></label></small>
          Got Accepted
          <span class="txt-color-greenDark"><i class="fa fa-check txt-color-green"></i>&nbsp;<%= @sparks[:accepted] %></span></h5>
          <% end %>
      </li>
      <li class="sparks-info">
      <%= link_to outgoings_profiles_path do %>
        <h5>
        <% badge = current_user.badge.rejected > 0 ? "red bounceIn animated" : "blue" %>
        <small><label class="badge bg-color-<%= badge %> font-xs"><%= current_user.badge.rejected %></label></small>
           Got Rejected
          <span class="txt-color-greenDark"><i class="fa fa-times txt-color-red"></i>&nbsp;<%= @sparks[:rejected] %></span></h5>
          <% end %>
      </li>
      <li class="sparks-info">
      <%= link_to waiting_profiles_path do %>
        <h5>
          Waiting
          <span class="txt-color-greenDark"><i class="fa fa-bell txt-color-orange"></i>&nbsp;<%= @sparks[:waiting] %></span></h5>
          <% end %>
      </li>
      <li class="sparks-info">
      <%= link_to shortlists_profiles_path do %>
        <h5>
          Saved Profiles
          <span class="txt-color-greenDark"><i class="fa fa-plus"></i>&nbsp;<%= @sparks[:shortlist] %></span></h5>
          <% end %>
      </li>
    </ul>
  </div>
</div>
