<!DOCTYPE html>
<html>
  <head>
  <% if current_user %>
  <title>
    <% bdge = current_user.badge %>
    <% fav_num = bdge.interest.to_i + bdge.visitor.to_i + bdge.accepted.to_i + bdge.rejected.to_i %>
    <%= (fav_num > 0) ? "(#{fav_num})" : "" %>
    shaadiMatch - Updates in Realtime</title>
  <% else %>
  <title>shaadiMatch - Updates in Realtime</title>
  <% end %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="India's fastest growing Matrimonial website which will keep you indulged with real time updates" />
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" =>
  true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" =>
  true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/favicon.ico' %>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700"></head>
  <% if current_user %>
  <span class="hidden" data-id="<%= current_user.id %>" id="user"></span>
  <%= subscribe_to "/messages/#{current_user.id}" %>
    <!-- <body class="smart-style-2"> -->
    <body class="smart-style-2 fixed-header fixed-navigation fixed-ribbon fixed-width">
      <!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->
      <%= render :partial =>'layouts/header'%>
      <%= render :partial =>'layouts/side'%>
      <% else %>
      <body>
    <% end %>
    <%= yield %>
    <% if current_user %>
    <%= render :partial =>'layouts/footer'%>
    <% end %>
  </body>
</html>
