<%= render :partial =>'layouts/alert'%>
<%= form_tag({:action=>'modify_profile'}, {:remote => true, :class=>"smart-form"}) do %>
  <header>Basic Profile Info</header>
  <fieldset>
      <label>Marital Status</label>
      <div class="row">
        <div class="col col-4">
          <label class="radio state-success">
            <%= radio_button_tag(:marital_status, "Never Married", (@user[:profile][:marital_status] == "Never Married")) %>
            <i></i>
            Never Married
          </label>
          <label class="radio state-success">
            <%= radio_button_tag(:marital_status, "Divorced", (@user[:profile][:marital_status] == "Divorced")) %>
            <i></i>
            Divorced
          </label>
        </div>
        <div class="col col-4">
          <label class="radio state-success">
            <%= radio_button_tag(:marital_status, "Filed Divorce", (@user[:profile][:marital_status] == "Filed Divorce")) %>
            <i></i>
            Filed Divorce
          </label>
          <label class="radio state-success">
            <%= radio_button_tag(:marital_status, "Widowed", (@user[:profile][:marital_status] == "Widowed")) %>
            <i></i>
            Widowed
          </label>
        </div>
      </div>
      <div class="col-sm-12">&nbsp;</div>
      <label>Profile Posted By</label>
      <div class="row">
        <div class="col col-4">
          <label class="radio state-success">
            <%= radio_button_tag(:posted_by, "Self", (@user[:profile][:posted_by] == "Self")) %>
            <i></i>
            Self
          </label>
          <label class="radio state-success">
            <%= radio_button_tag(:posted_by, "Parents", (@user[:profile][:posted_by] == "Parents")) %>
            <i></i>
            Parents
          </label>
        </div>
        <div class="col col-4">
          <label class="radio state-success">
            <%= radio_button_tag(:posted_by, "Brother", (@user[:profile][:posted_by] == "Brother")) %>
            <i></i>
            Brother
          </label>
          <label class="radio state-success">
            <%= radio_button_tag(:posted_by, "Sister", (@user[:profile][:posted_by] == "Sister")) %>
            <i></i>
            Sister
          </label>
        </div>

        <div class="col col-4">
          <label class="radio state-success">
            <%= radio_button_tag(:posted_by, "Relatives", (@user[:profile][:posted_by] == "Relatives")) %>
            <i></i>
            Relatives
          </label>
          <label class="radio state-success">
            <%= radio_button_tag(:posted_by, "Friends", (@user[:profile][:posted_by] == "Friends")) %>
            <i></i>
            Friends
          </label>
        </div>
      </div>
  </fieldset>
  <footer>
    <div class="note note-success clicksave"></div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </footer>
<% end %>
