<%= render :partial =>'layouts/alert', :locals => {:heading => "Basic Information about yourself ..", :description => "Basic information is shown on the profile card and appears when some does a search", :icon=>"fa fa-bookmark"}%>
<%= form_tag({:action=>'modify_profile'}, {:remote => true, :class=>"smart-form edit"}) do %>
  <fieldset>
    <div class="col-sm-4">
      <label class="label">
        <strong>Home</strong> 
      </label>
        <small class="text-muted">Your Current Residential Location</small>
    </div>
      <div class="col-sm-6">
        <input id="select-home" name="home" value="<%= current_user.profile[:home] %>" class="selectized">
      </div>

  </fieldset>
    <% categories = ["posted_by", "marital_status"] %>
      <% categories.each do |category| %>
      <fieldset>
        <% heading = category.sub "_", " " %>
        <% id = category.sub "_", "-" %>
        <div class="col-sm-4">
          <label class="label"><strong>
            <%= heading.titleize %></strong></label>
            <small class="text-muted">
            Choose One</small>
          </div>
          <div class="col-sm-6">
          <input type="text" id="select-<%= id %>" name="<%= category %>" class="selectized" value="<%= current_user.profile[:category] %>" placeholder="<%= heading %>">
        </div>
      </fieldset>
      <% end %>

  <footer>
    <button type="submit" class="btn btn-primary edit disabled">Save</button>
  </footer>
<% end %>
