<%= render :partial =>'layouts/alert'%>
<%= form_tag({:action=>'modify_contact'}, {:remote=>true, :class=>"smart-form"}) do %>
  <fieldset>
    <legend>
      Mobile or Fixed Line Numbers!
    </legend>
    <section>
    <div class="form-group">
      <label>Mother's Number</label><small class="text-muted">
            (Choose one from the Dropdown)</small>
      <div class="input-group">
        <input name="mother_no" class="form-control phone" type="text" value="<%= @user[:contact][:mother_no] %>">
        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
      </div>
    </div>
    </section>
    <section>
    <div class="form-group">
      <label>Father's Number</label><small class="text-muted">
            (Choose one from the Dropdown)</small>
      <div class="input-group">
        <input name="father_no" class="form-control phone" type="text"  value="<%= @user[:contact][:father_no] %>">
        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
      </div>
    </div>
    </section>
    <section>
    <div class="form-group">
      <label>My Number</label><small class="text-muted">
            (Choose one from the Dropdown)</small>
      <div class="input-group">
        <input name="self_no" class="form-control phone" type="text" required="true" value="<%= @user[:contact][:self_no] %>">
        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
      </div>
    </div>
    </section>
  </fieldset>
  <footer>
    <button type="submit" class="btn btn-primary">Save</button>
  </footer>
<% end %>
