<%= render :partial =>'layouts/alert', :locals => {:heading => "Contact Details", :description => "Your contact details will be shown to other users upon your acceptance"}%>
<%= form_tag({:action=>'modify_contact'}, {:remote=>true, :class=>"smart-form"}) do %>
  <fieldset>
    <legend>
      Contact Details
    </legend>

    <section>
      <label class="label">Skype Id</label>
      <label class="input">
        <i class="icon-append fa fa-skype"></i>
        <input name="s_id" class="form-control" type="text" value="<%= @user[:contact][:s_id] %>" placeholder="Your Skype Id">
      </label>
    </section>
    <section>
      <label class="label">Google Chat Id</label>
      <label class="input">
        <i class="icon-append fa fa-google-plus"></i>
        <input name="g_id" class="form-control" type="text" value="<%= @user[:contact][:g_id] %>" placeholder="Your Google Plus/Chat Id">
      </label>
    </section>
    <section>
      <label class="label">WhatsApp!</label>
      <label class="input">
        <i class="icon-append fa fa-star"></i>
        <input name="w_id" class="form-control" type="text" value="<%= @user[:contact][:w_id] %>" placeholder="WhatsApp Account">
      </label>
    </section>
    <section>
      <label class="label">LinkedIn Url</label>
      <label class="input">
        <i class="icon-append fa fa-linkedin"></i>
        <input name="ln_link" class="form-control" type="text" value="<%= @user[:contact][:ln_link] %>" placeholder="Paste Your LinkedIn Url">
      </label>
    </section>


 </fieldset>
  <footer>
    <button type="submit" class="btn btn-primary edit disabled">Save</button>
  </footer>
<% end %>
