<%= render :partial =>'layouts/alert', :locals => {:heading => "Desired Partner", :description => "Something about your desired partner", :icon=>"fa fa-heart"}%>
<%= form_tag({:action=>'modify_desire'},{:remote => true, :class=>"smart-form edit"}) do %>
  <% categories = ["desired_marital_status", "desired_manglik","desired_diet","desired_smoke","desired_drink","desired_complexion", "desired_income","desired_height","desired_age", "desired_country", "desired_city", "desired_religion", "desired_caste", "desired_mother_tongue", "desired_education", "desired_occupation"] %>
  <% categories.each do |category| %>
    <fieldset>
      <% heading = category.gsub "_", " " %>
      <% id = category.gsub "_", "-" %>
      <div class="col-sm-4">
        <label class="label">
          <strong><%= heading.titleize %></strong></label>
      </div>
      <div class="col-sm-6">
        <input type="text" id="select-<%= id %>" name="<%= category %>" class="selectized" value="<%= current_user.desire["#{category}"] %>" placeholder="Choose your <%= heading %>">
      </div>
    </fieldset>
  <% end %>
  <footer>
    <button type="submit" class="btn btn-primary edit disabled">Save</button>
  </footer>
<% end %>
