<%= render :partial =>'layouts/alert', :locals => {:heading => "Contact Details", :description => "Your contact details are kept private and are only shown to other users once you accept their interest"}%>
<%= form_tag({:action=>'modify_desire'},{:remote => true, :class=>"smart-form"}) do %>
  <header>Desires</header>
  <fieldset>
    <label>Desired Marital Status</label>
    <div class="row">
      <% [ 'Never Married', 'Divorced', "Getting a Divorce", "Widowed"].each do |desired_marital_status| %>
        <div class="col col-4">
          <label class="radio">
            <%= radio_button_tag(:desired_marital_status, desired_marital_status,(@user[:desire][:desired_marital_status] == desired_marital_status)) %>
            <i></i>
            <%= desired_marital_status %></label>
        </div>
      <% end %></div>
    <br>
    <label>Desired Manglik</label>
    <div class="row">
      <% [ 'Yes', 'No', 'Angshik (Partial)', "Does not Matter" ].each do |desired_manglik| %>
        <div class="col col-4">
          <label class="radio">
            <%= radio_button_tag(:desired_manglik, desired_manglik,(@user[:desire][:desired_manglik] == desired_manglik)) %>
            <i></i>
            <%= desired_manglik %></label>
        </div>
      <% end %></div>
    <br>
    <label>Desired Diet</label>
    <div class="row">
      <% [ 'Vegeterian', 'Non Vegeterian', "Eggeterian", "Occasional Non Vegeterian","Does not Matter" ].each do |desired_diet| %>
        <div class="col col-4">
          <label class="radio">
            <%= radio_button_tag(:desired_diet, desired_diet,(@user[:desire][:desired_diet] == desired_diet)) %>
            <i></i>
            <%= desired_diet %></label>
        </div>
      <% end %></div>
    <br>
    <label>Desired Smoking</label>
    <div class="row">
      <% [ 'Yes', 'Light Smoker', 'Occasionally', 'Not at all' ].each do |desired_smoke| %>
        <div class="col col-4">
          <label class="radio">
            <%= radio_button_tag(:desired_smoke, desired_smoke,(@user[:desire][:desired_smoke] == desired_smoke)) %>
            <i></i>
            <%= desired_smoke %></label>
        </div>
      <% end %></div>
    <br>
    <label>Desired Drinking Habits</label>
    <div class="row">
      <% [ 'Yes', 'Light Drinker', 'Occasional Drinks', 'Not at all' ].each do |desired_drink| %>
        <div class="col col-4">
          <label class="radio">
            <%= radio_button_tag(:desired_drink, desired_drink,(@user[:desire][:desired_drink] == desired_drink)) %>
            <i></i>
            <%= desired_drink %></label>
        </div>
      <% end %></div>
    <br>
    <label>Complexion</label>
    <div class="row">
      <% [ 'White', 'Wheatish', 'Fair', "Yellow", "Dark", 'Does not Matter' ].each do |desired_complexion| %>
        <div class="col col-4">
          <label class="radio">
            <%= radio_button_tag(:desired_complexion, desired_complexion,(@user[:desire][:desired_complexion] == desired_complexion)) %>
            <i></i>
            <%= desired_complexion %></label>
        </div>
      <% end %></div>
    <br>
  </fieldset>
  <fieldset>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Desired Income</label>
          <% range_income = [5,15] %>
          <% if  !@user[:desire]['desired_income'].nil? %>
            <% range_income = @user[:desire]['desired_income'].split(';') %>
          <% end %>
          <input id="desired-income-slider" type="text" name="desired_income" value="2;50" data-type="double" data-step="1" data-prefix="Rs " data-postfix=" Lac" data-from="<%= range_income[0] %>" data-to="<%= range_income[1] %>" data-hasgrid="true"></div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Desired Height</label>
          <% range_height = [5,7] %>
          <% if  !@user[:desire]['desired_height'].nil? %>
            <% range_height = @user[:desire]['desired_height'].split(';') %>
          <% end %>
          <input id="desired-height-slider" type="text" name="desired_height" value="4;7" data-type="double" data-step="1" data-prefix="" data-postfix=" Ft" data-from="<%= range_height[0] %>" data-to="<%= range_height[1] %>" data-hasgrid="true"></div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Desired Age</label>
          <% range_height = [24,30] %>
          <% if  !@user[:desire]['desired_age'].nil? %>
            <% range_age = @user[:desire]['desired_age'].split(';') %>
          <% end %>
          <input id="desired-age-slider" type="text" name="desired_age" value="18;40" data-type="double" data-step="1" data-prefix="" data-postfix=" Years" data-from="<%= range_height[0] %>" data-to="<%= range_height[1] %>" data-hasgrid="true"></div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="col-sm-12">
      <% categories = ["desired_country", "desired_city", "desired_religion", "desired_caste", "desired_mother_tongue", "desired_education", "desired_occupation"] %>
      <% categories.each do |category| %>
        <% heading = category.gsub "_", " " %>
        <% id = category.gsub "_", "-" %>
        <div class="col-sm-12">
          <label>
            <%= heading.capitalize %></label>
          <input type="text" id="select-<%= id %>" name="<%= category %>" class="selectized" value="<%= @user[:desire][category] %>" placeholder="Choose your <%= heading %>">
        </div>
        <div class="col-sm-12">&nbsp;</div>
      <% end %>
    </div>
  </fieldset>
  <footer>
    <button type="submit" class="btn btn-primary">Save</button>
  </footer>
<% end %>
