<%= render :partial =>'layouts/alert', :locals => {:heading => "Education Section", :description => "You can add your school or college if we don't have it in the list", :icon=>"fa fa-flask"}%>
<%= form_tag({:action=>'modify_education'}, {:remote => true, :class=>"smart-form edit"}) do %>
    <% categories = {'school' => "fa fa-superscript", 'grad_college' => "fa fa-map-marker", 'graduation' => "fa fa-book", 'post_grad' => "fa fa-flask", 'post_grad_college' => "fa fa-map-marker", 'highest_degree' => "fa fa-bookmark"} %>
    <% categories.each do |category, icon| %>
      <% heading = category.gsub "_", " " %>
      <% id = category.gsub "_", "-" %>
      <fieldset>
      <div class="col-sm-4">
        <label class="label">
          <i class="<%= icon %>"></i><strong>
          <%= heading.titleize %></strong>
        </label>
        <small class="text-muted">
          Select one from list or add a new one</small>
      </div>
        <div class="col-sm-6">
              <input type="text" id="select-<%= id %>" name="<%= category %>" class="selectized" value="<%= current_user.education[:category] %>" placeholder="Choose or Add your <%= heading %>">
            </div>
      </fieldset>
    <% end %>
  <footer>
    <button type="submit" class="btn btn-primary edit disabled">Save</button>
  </footer>
<% end %>
