<%= render :partial =>'layouts/alert', :locals => {:heading => "Tell us About Your Family", :description => "", :icon=>"fa fa-group"}%>
<%= form_tag({:action=>'modify_family'},{:remote => true, :class=>"smart-form edit"}) do %>
  <h3 class=""><strong>Family</strong></h3>
  
      <% categories = ["values", "size", "status", "father", "mother", "brother", "sister", "family_income"] %>
      <% categories.each do |category| %>
      <fieldset>
        <% heading = category.sub "_", " " %>
        <% id = category.sub "_", "-" %>
        <div class="col-sm-4">
          <label class="label"><strong>
            <%= heading.titleize %></strong></label>
            <small class="text-muted">
            Choose one</small>
          </div>
          <div class="col-sm-6">
          <input type="text" id="select-<%= id %>" name="<%= category %>" class="selectized" value="<%= @user[:family][category] %>" placeholder="About my <%= heading %>">
        </div>
      </fieldset>
      <% end %>
  
  <footer>
    <button type="submit" class="btn btn-primary edit disabled">Save</button>
  </footer>
<% end %>
