<%= render :partial =>'layouts/alert'%>
<%= form_tag({:action=>
                                'modify_hobby'},{:remote => true, :class=>"smart-form"}) do %>
  <header>What you like to do</header>
  <fieldset>
    <% categories = ["hobby", "music", "interest", "read", "dress", "tv", "movie", "sport", "cuisine", "vacation"] %>
    <% categories.each do |category| %>
      <% heading = category.sub "_", " " %>
      <% id = category.sub "_", "-" %>
      <section>
      <label>
        <%= heading.capitalize %></label><small class="text-muted">
            (You can add multiple items here !)</small>
      <input type="text" id="select-<%= id %>" name="<%= category %>" class="selectized" value="<%= @user[:hobby][category] %>" placeholder="Your Favourite <%= heading %>"(s)>
      </section>
    <% end %>
  </fieldset>
  <footer>
    <button type="submit" class="btn btn-primary">Save</button>
  </footer>
<% end %>
