<%= render :partial =>'layouts/alert', :locals => {:heading => "What do you like to do", :description => "Let your would be partner know about inside you.."}%>
<%= form_tag({:action=>'modify_hobby'},{:remote => true, :class=>"smart-form"}) do %>
  <header>Hobbies</header>
  <fieldset>
    <% categories = ["hobby", "music", "interest", "read", "dress", "tv", "movie", "sport", "cuisine", "vacation"] %>
    <% categories.each do |category| %>
      <% heading = category.sub "_", " " %>
      <% id = category.sub "_", "-" %>
      <section>
        <label>
          <%= heading.capitalize %></label><small class="text-muted">
          (You can add multiple items here !)</small>
        <input type="text" id="select-<%= id %>" name="<%= category %>" class="selectized" value="<%= @user[:hobby][category] %>" placeholder="Your Favourite <%= heading %>"(s)>
      </section>
    <% end %>
  </fieldset>
  <footer>
    <button type="submit" class="btn btn-primary">Save</button>
  </footer>
<% end %>
