<%= render :partial =>'layouts/alert'%>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-8">
  <header>
    <span class="widget-icon">
      <i class="fa fa-edit"></i>
    </span>
    <h2>Edit Hobbies</h2>
  </header>
  <div>
  <!-- widget div-->
  <!-- widget content -->
  <div class="widget-body">
    <%= form_tag({:action=>
                                'modify_hobby'},{:remote => true, :class=>"smart-form"}) do %>
      <header>What you like to do</header>
      <fieldset>
        <% categories = ["hobby", "music", "interest", "read", "dress", "tv", "movie", "sport", "cuisine", "vacation"] %>
        <% categories.each do |category| %>
          <% heading = category.sub "_", " " %>
          <% id = category.sub "_", "-" %>
          <label>
            <%= heading.capitalize %></label>
          <input type="text" id="select-<%= id %>" name="<%= category %>" class="selectized" value="<%= @user[:hobby][category] %>">
        <% end %>
      </fieldset>
      <footer>
        <div class="note note-success clicksave"></div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" onclick="window.history.back();">Back</button>
      </footer>
    <% end %></div>
  <!-- end widget content -->
</div>
</div>