<%= render :partial =>'layouts/alert', :locals => {:heading => "What do you like to do", :description => "Let your would be partner know about inside you..", :icon=>"fa fa-coffee"}%>
<%= form_tag({:action=>'modify_hobby'},{:remote => true, :class=>"smart-form edit"}) do %>
  <h3 class="error-text-3"><strong>Hobbies</strong> <i>of yours</i></h3>

    <% categories = {'hobby' => "fa fa-plus", 'interest' => "fa fa-asterisk", 'music' => "fa fa-music", 'read' => "fa fa-book", 'dress' => "fa fa-group", 'tv' => "fa fa-coffee", 'movie' => "fa fa-desktop", 'sport' => "fa fa-gamepad" , 'cuisine' => "fa fa-globe", 'vacation' => "fa fa-map-marker"} %>
    <% categories.each do |category, icon| %>
      <fieldset>
      <% heading = category.sub "_", " " %>
      <% id = category.sub "_", "-" %>
      <div class="col-sm-4">
        <label class="label">
          <i class="<%= icon %>"></i><strong>
          <%= heading.titleize %></strong>
        </label>
      </div>
      <div class="col-sm-6">
            <small class="text-muted">
            (You can add multiple items here !)</small>

          <input type="text" id="select-<%= id %>" name="<%= category %>" class="selectized" value="<%= @user[:hobby][category] %>" placeholder="Your Favourite <%= heading %>">
        </div>
      </fieldset>
    <% end %>
  
  <footer>
    <button type="submit" class="btn btn-primary edit disabled">Save</button>
  </footer>
<% end %>
