<%= render :partial =>'layouts/alert', :locals => {:heading => "Kundali", :description => "Your Kundali and Nakshatra Details", :icon=>"fa fa-star-o"}%>
<%= form_tag({:action=>'modify_kundali'},{:remote => true, :class=>"smart-form edit"}) do %>
  <fieldset>
    <div class="col-sm-4">
      <label class="label"><strong>Time of Birth</strong></label>
      <div class="note">
        <strong>Enter Time of birth:</strong>
        Example: 07:50:PM
      </div>
    </div>
    <div class="col-sm-6">
      <label class="input">

      <i class="icon-append fa fa-clock-o"></i>
        <input class="form-control" name="tob" id="tob" type="time">
      </label>
    </div>
  </fieldset>
  
      <% categories = {'birth_country' => "fa fa-globe", 'birth_city' => "fa fa-map-marker", 'sun_sign' => "fa fa-certificate",  'manglik' => "fa fa-exclamation-circle",'moon_sign' => "fa fa-sun-o", 'nakshatra' => "fa fa-star"} %>
      <% categories.each do |category, icon| %>
      <fieldset>
        <% heading = category.sub "_", " " %>
        <% id = category.sub "_", "-" %>
        <div class="col-sm-4">
          <label class="label">
            <i class="<%= icon %>"></i><strong>
            <%= heading.titleize %></strong>
            </label>
            <small class="text-muted">
            Select one from list or add a new one</small>
          </div>
          <div class="col-sm-6">
              <input id="select-<%= id %>" name="<%= category %>" value="<%= current_user.kundali[:category] %>" class="selectized" placeholder="Select your <%= heading %>">
            </div>
        
        </fieldset>
      <% end %>
  
  <footer>
    <button type="submit" class="btn btn-primary edit disabled">Save</button>
  </footer>
<% end %>
