<%= render :partial =>'layouts/alert'%>
<div class="jarviswidget" id="wid-id-7">
  <header>
    <span class="widget-icon">
      <i class="fa fa-edit"></i>
    </span>
    <h2>Edit Kundali</h2>
  </header>
  <div>
  <!-- widget content -->
  <div class="widget-body">
    <%= form_tag({:action=>'modify_kundali'},{:remote => true, :class=>"smart-form"}) do %>
      <header>Nakshatra, Moon Sign, Be precise with dates</header>
      <fieldset>
        <% categories = ["birth_country", "birth_city", "sun_sign", "moon_sign", "nakshatra"] %>
        <% categories.each do |category| %>
          <% heading = category.sub "_", " " %>
          <% id = category.sub "_", "-" %>
          <section class="col col-6">
            <label>
              <%= heading.capitalize %></label>
            <input id="select-<%= id %>" name="<%= category %>" value="<%= @user[:kundali][category] %>" class="selectized" placeholder="Select or add new.."></section>
        <% end %>
      </fieldset>
      <footer>
        <div class="note note-success clicksave"></div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" onclick="window.history.back();">Back</button>
      </footer>
    <% end %></div>
  <!-- end widget content -->
</div>
<!-- end widget div -->
</div>