<%= render :partial =>'layouts/alert', :locals => {:heading => "Kundali", :description => "Tell your would be partner about your kundali details"}%>
<%= form_tag({:action=>'modify_kundali'},{:remote => true, :class=>"smart-form"}) do %>
  <h3 class="error-text-3"><strong>Kundali</strong> and Nakshatra</h3>
  <fieldset>
    <div class="col-sm-12">&nbsp;</div>
    <div class="col-sm-12">
      <label>Time of Birth</label>
      <div class="input-group">
        <input class="form-control" name="tob" id="tob" type="time" name="dob">
        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
      </div>
      <div class="note">
        <strong>Enter Time of birth:</strong>
        Example: 07:50:PM
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="col-sm-12">
      <% categories = {'birth_country' => "fa fa-globe", 'birth_city' => "fa fa-map-marker", 'sun_sign' => "fa fa-certificate",  'manglik' => "fa fa-exclamation-circle",'moon_sign' => "fa fa-sun-o", 'nakshatra' => "fa fa-star"} %>
      <% categories.each do |category, icon| %>
        <% heading = category.sub "_", " " %>
        <% id = category.sub "_", "-" %>
        <div class="col-sm-12">
        <section>
          <label>
            <i class="<%= icon %>"></i>
            <%= heading.titleize %></label><small class="text-muted">
            (Choose one from the Dropdown)</small>
          <input id="select-<%= id %>" name="<%= category %>" value="<%= @user[:kundali][category] %>" class="selectized" placeholder="Select your <%= heading %>">
        </div>
        </section>
      <% end %>
    </div>
  </fieldset>
  <footer>
    <button type="submit" class="btn btn-primary edit disabled">Save</button>
  </footer>
<% end %>
