<%= render :partial =>'layouts/alert', :locals => {:heading => "Your Occupation", :description => "", :icon=>"fa fa-suitcase"}%>
<%= form_tag({:action=>'modify_occupation'},{:remote => true, :class=>"smart-form edit"}) do %>
  <h3 class=""><strong>Occupation</strong></h3>
  
      <% categories = ["work_status", "occupation", "company", "annual_income", "settling_abroad"] %>
      <% categories.each do |category| %>
      <fieldset>
        <% heading = category.sub "_", " " %>
        <% id = category.sub "_", "-" %>
        <div class="col-sm-4">
          <label class="label"><strong>
            <%= heading.titleize %></strong></label>
            <small class="text-muted">
            Choose one</small>
          </div>
          <div class="col-sm-6">
          <input type="text" id="select-<%= id %>" name="<%= category %>" class="selectized" value="<%= @user[:occupation][category] %>" placeholder="About <%= heading %>">
        </div>
      </fieldset>
      <% end %>
  
  <footer>
    <button type="submit" class="btn btn-primary edit disabled">Save</button>
  </footer>
<% end %>
