<%= render :partial =>'layouts/alert'%>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-6">
  <header>
    <span class="widget-icon">
      <i class="fa fa-edit"></i>
    </span>
    <h2>Edit Religion</h2>
  </header>
  <div>
  <!-- widget content -->
  <div class="widget-body">
    <%= form_tag({:action=>'modify_religion'},{:remote => true, :class=>"smart-form"}) do %>
      <header>Religion related information</header>
      <fieldset>
        <% categories = ["religion", "mother_tongue", "caste", "sub_caste", "native_place"] %>
        <% categories.each do |category| %>
          <% heading = category.sub "_", " " %>
          <% id = category.sub "_", "-" %>
          <section class="col col-6">
            <label>
              <%= heading.capitalize %></label>
            <input id="select-<%= id %>" name="<%= category %>" value="<%= @user[:religion][category] %>" class="selectized" placeholder="Select or add new.."></section>
        <% end %>
      </fieldset>
      <footer>
        <div class="note note-success clicksave"></div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" onclick="window.history.back();">Back</button>
      </footer>
    <% end %></div>
  <!-- end widget content -->
</div>
<!-- end widget div -->
</div>