<%= render :partial =>'layouts/alert', :locals => {:heading => "Your Religion, Caste ..", :description => "Please select one from the dropdown", :icon=>"fa fa-sun-o"}%>
<%= form_tag({:action=>'modify_religion'},{:remote => true, :class=>"smart-form edit"}) do %>
  <fieldset>
    <div class="col-sm-4">
      <label class="label">
        <i class="fa fa-sun-o"></i><strong>
        Religion </strong>
      </label>
        <small class="text-muted">
          Select one from list or add a new one
        </small>
        </div>
        <div class="col-sm-6">
        <input id="select-religion" name="religion" value="<%= current_user.devotion %>" class="selectized" placeholder="Select or Add One Religion">
      </div>
  </fieldset>


    <% categories = {'mother_tongue' => "fa fa-globe", 'caste' => "fa fa-bars", 'sub_caste' => "fa fa-arrows-v", 'native_place' => "fa fa-location-arrow"} %>
    <% categories.each do |category, icon| %>
      <fieldset>
      <% heading = category.sub "_", " " %>
      <% id = category.sub "_", "-" %>
      <div class="col-sm-4">
        <label class="label">
          <i class="<%= icon %>"></i><strong>
          <%= heading.titleize %></strong>
        </label>
        <small class="text-muted">
          Select one from list or add a new one
        </small>
      </div>
      <div class="col-sm-6">
        <input id="select-<%= id %>" name="<%= category %>" value="<%= current_user.religion[:category] %>" class="selectized" placeholder="Select or Add One <%= heading %>">
      </div>
      </fieldset>
    <% end %>
  
  <footer>
    <button type="submit" class="btn btn-primary edit disabled">Save</button>
  </footer>
<% end %>
